[2016-01-25 23:25] Ocramius opened #1 "Root package never has a source reference"
See composer/composer#4828 for reference: root package never has a valid source reference, and will always report a version like `1.2.3@` (nothing after the `@`)

[2016-01-26 09:11] ThaDafinser opened #4 "Custom exception"
Hello,

i have a use case, where i need to check if a package is installed.

I dunno yet if i like my current implementation...
https://github.com/ThaDafinser/UserAgentParser/blob/master/src/Provider/PiwikDeviceDetector.php#L81-L83

If this would be a custom exception, this package could also be usefull to check if a package is installed at all https://github.com/Ocramius/PackageVersions/blob/a108

[2016-01-27 04:10] Ocramius commented on #4
That is a rather unusual way of approaching this problem. Regardless of that, though, we could provide raw access to the lock data in this package...

[2016-01-27 14:05] ThaDafinser commented on #4
Yeah... sadly i needed to change it, since i could not get the unit tests run with `class_exists()` under PHP7/HHVM ...
https://github.com/ThaDafinser/UserAgentParser/blob/5c73356e06db8bffa0792b28938e3eec491fa7a1/src/Provider/PiwikDeviceDetector.php#L81-L83

[2016-01-27 19:14] Ocramius commented on #4
@ThaDafinser is a change needed for now?

[2016-02-01 07:44] xtreamwayz opened #5 "failed to open stream: phar error: write operations disabled by the php.ini setting phar.readonly"
I don't know why this error happens and it worked before. The code looks alright to me. Solutions might be hard coding the location relative to the vendor dir or somehow figure out the real install path of PackageVersions.

[code]

[2016-02-01 10:38] Ocramius commented on #5
You can't really write to a phar path like that. How is installation being
done?
On Feb 1, 2016 8:44 AM, "Geert Eltink" <notifications@github.com> wrote:

[2016-02-01 11:01] xtreamwayz commented on #5
In a project on my windows dev machine I added PackageVersion last week. I required swiftmailer this morning and I got that error. That's it. I required other packages during the weekend as well without problems.

I did some more research. It seems I can only reproduce it if I require a package and it was already installed. I can't remember if this was the case swiftmailer since I was switching a

[2016-02-01 19:21] Ocramius commented on #5
Interesting. Sounds like composer is wrapping execution in eval'd code (run that same command with `-vvv` to see it):

[code]

In order to fix that, the location of `Versions.php` must be inferred from the composer config instead...
See https://github.com/Ocramius/PackageVersions/blob/4beb483edd5e469d64f1a60e3d935958a2633f55/src/PackageVersions/Installer.php#L106

We'd basically use `$composer->ge

[2016-02-01 20:04] xtreamwayz commented on #5
I'll have a look at it tomorrow.

[2016-02-01 20:07] Ocramius commented on #5
@xtreamwayz thanks!

[2016-02-02 17:40] Ocramius commented on #5
Handled in #7

[2016-02-02 17:40] #5 closed

[2016-02-12 08:58] lisachenko opened #10 "Support for previous versions of PHP"
Hello, I liked this library very much and want to use it for my projects. From what I can see, there is no strict need in PHP7, it can easily be used with PHP5.5 and PHP5.6 as well. I know your position about moving forward to the new versions, but sometimes this can be a painful to upgrade to PHP7 due to special extensions that aren't ported yet.

So, would you mind make it PHP>=5.5 compatible? D

[2016-02-12 14:32] Ocramius commented on #10
I don't really want to support 5.x on any new packages that I'm developing for fun and for my own needs. I get why you want this to happen (support 5.*), but we should all really just join effort and push for 7.* requirements everywhere.

What package would need it, and why can't it depend on 7.* for the new version that introduces this dependency?

[2016-02-12 15:03] lisachenko commented on #10
Of course, all new stuff should just work with php7. This is our global goal and we should go to it. But there is internal projects that are used with old code, so I can release my component for PHP7, but it won't be used in old environment. 5.5 and 5.6 have a lot of working apps right now, sigh.

I think about previous versions of PHP from admin side as `--prefer-lowest` flag, so if code can run

[2016-02-12 20:55] Ocramius commented on #10
Since it's for an internal project, I suggest forking and then (immediately) deprecating your own version, using it until an upgrade to PHP7 is viable.

While I understand the problem that you are exposing, if I start downgrading the requirements people will not aim at the upgrade anymore, while that is my explicit intent.

[2016-02-12 20:55] #10 closed

[2016-02-18 06:51] Ocramius opened #12 "Packages don't always have a source/reference"
Moved from https://github.com/Ocramius/ProxyManager/issues/294

Basically, when using something like following:

[code]

As you can see, this package has no `source` reference, as it comes from a repository (in-lined in the `composer.json`) that has no such information. Therefore, [this call](https://github.com/Ocramius/PackageVersions/blob/56253310fb94b3086fa123f5f3e7ab76723594aa/src/PackageVersi

[2016-02-24 14:30] #12 closed

[2016-02-24 14:34] magnetik commented on #12
yay ! Do you mind tagging a new version?

[2016-02-24 15:35] Ocramius commented on #12
@magnetik yarp, gonna happen now.

[2016-02-24 18:12] Ocramius commented on #12
@magnetik released

[2016-02-25 07:59] magnetik commented on #12
Awesome :)

[2016-03-30 12:30] ThaDafinser commented on #4
Not for now in my case. Need to get rid of php `5.6` support first...

[2016-03-30 18:48] Ocramius commented on #4
@ThaDafinser when this becomes relevant, consider sending a PR for a custom exception + exception interface extending `Throwable`

[2016-04-23 15:20] BarthyB opened #17 "Weird Class name"
Hello,

When  using `composer update` or `composer install` the `Versions` class is created like it should in my project (Symfony 2.8) except for one thing:

The class is called `Versions_composer_tmp0`

This breaks the entire project as Smyfony's autoloader can't find the class.

[2016-04-23 15:22] Ocramius commented on #17
@BarthyB I was working on that *exactly now*. See https://github.com/composer/composer/issues/5237 and https://github.com/Ocramius/PackageVersions/pull/16

If you can please look at your bash logs and reproduce the error precisely, that would be awesome to isolate it for https://github.com/composer/composer/issues/5237

[2016-04-23 15:22] #17 closed

[2016-04-23 15:38] BarthyB commented on #17
I did nothing else than requiring another package

`composer require oneup/uploader-bundle`

in Symfony this triggers methods like:

And it's exaclty during clearCache that it throws the RuntimeException mentioned above.
Alternatively any other symfony operation would trigger this error (e.g. `php app/console server:run`, ...)

[2016-04-23 16:29] Ocramius commented on #17
Do you have a `composer.lock` and `composer.json` that I can use to experiment the transition myself?

[2016-04-23 16:33] BarthyB commented on #17
(zip because .json & .lock are not supported by GitHub)
[composer_files_barthy_b.zip](https://github.com/Ocramius/PackageVersions/files/233057/composer_files_barthy_b.zip)

[2016-04-23 17:09] Ocramius commented on #17
Reproduced the issue. I had to edit the `composer.json` as following, since I don't have your same files (and some scripts rely on them):

[code]

Then running `composer require oneup/uploader-bundle -vvv`

[code]

Then the generated `vendor/ocramius/package-versions/src/PackageVersions/Versions.php` looks like:

[code]

[2016-04-23 17:25] Ocramius commented on #17
B̝u̸̫͓ͅg͖̬̗̘͈s̯̖͚͔ ̛i͕n̖̟̪ ̯̖ṛ̲̮͡e͖͕g̤̠̻̬ẹx̺-͓̘͕͟b̫̜̭͙̀a̵̮̺͍s҉͎e̜̖͠d͕͍͍̺̙̼̙ ̳̗̖̬̜còḓ̢̟͇̯̼ḙ͈ ̧͔̤̪̫s̫ca̸͇̘̩̮n̶̥̝̮̠̩n̫͉̯͜e͉̦͙̝̤r̫s̕

[2016-04-23 17:39] Ocramius commented on #17
Findings reported at https://github.com/composer/composer/issues/5237#issuecomment-213793650 - meanwhile, I will release a workaround.

[2016-04-23 17:57] Ocramius commented on #17
@BarthyB https://github.com/Ocramius/PackageVersions/releases/tag/1.0.4

[2016-04-24 05:44] Ocramius commented on #1
This was fixed in composer/composer#4828

[2016-04-24 05:44] #1 closed

[2016-05-12 21:45] nicwortel opened #18 "Fails when using composer install --no-scripts"
The Versions class is not installed (and therefore calling it causes fatal errors) when dependencies are installed using `composer install --no-scripts` (which is, as far as I'm aware, not that uncommon in deployment scripts).

I found out because I wanted to deploy a project to production, but the deployment failed on executing the Doctrine migrations:

I propose the following solution to catch c

[2016-05-12 21:46] nicwortel commented on #18
Related to https://github.com/Ocramius/ProxyManager/issues/294

[2016-05-12 21:47] Ocramius commented on #18
What I might do is adding an autoloader (at the end of the autoloader stack) that catches attempts to load the `PackageVersions\Versions.php` and tries to write it to disk (and if it fails, just uses an `eval()` or a temporary file).

Out of my scope for now, though: I will consider it for when I got time to tinker around the lib again.

[2016-05-12 22:48] Ocramius commented on #18
Reminder btw: don't deploy with `composer install --no-scripts`. Instead, deploy a zip package with all deps (or an RPM).

[2016-05-12 23:21] nicwortel commented on #18
@Ocramius thank you for the fast response! The autoloader approach actually sounds more elegant than my own.

I don't run Composer on the server, but on my local machine as part of a Phing build. However, since I use `--no-dev` I need to add `--no-scripts` as well, otherwise the scripts will cause fatal errors because they run in dev mode (and Phing does not seem to enable setting the `SYMFONY_ENV

[2016-05-12 23:25] Ocramius commented on #18
Uh... I would expect dev deps to only be using during a `composer update`. Something is quite wrong with the setup there, but I don't have an idea if this is how symfony does stuff, usually..

[2016-05-17 22:37] mablae opened #19 "Script to dump the output into different file formats"
~~A use case could be automated dumping into a DEPENDCIES.md
by CI. Dunno if it is out of scope of this lib, just an idea.~~

Deleted bullshit.

[2016-05-17 22:39] #19 closed

[2016-05-18 06:47] Ocramius commented on #19
@mablae solved? I think you can just read the `PackageVersions::VERSIONS` constant?

[2016-05-18 09:16] mablae commented on #19
Yeah, basically my issue was just written to fast without looking at the code correctly.

Sorry for stealing your time.

[2016-06-14 08:02] holtkamp opened #21 "Add convenience functionality to streamline format of returned versions"
Currently the returned versions 'might' be in different formats, for example:
- 'bower-asset/flag-icon-css' => '2.3.1@836eca11ecf437ae3d0f0c93dd245ab00d94cee1'
- 'bower-asset/font-awesome' => 'v4.6.3@8e241f209faa1dd2182c9fdc9c352d8806504a4e'

The part that I am interested in to generate an URL that points to these assets on a CDN is:
- 'bower-asset/flag-icon-css' => '2.3.1'
- 'bower-asset/font-awe

[2016-06-14 10:15] Ocramius commented on #21
@holtkamp you mean like https://github.com/Ocramius/PackageVersions/pull/9 ?

[2016-06-14 16:52] holtkamp commented on #21
@Ocramius , mmm, yeah, guess that would cover it. Sorry, only looked at the issues, not the PR's...

[2016-06-14 22:51] holtkamp opened #22 "Document the way the require-dev section is treated"
It might be useful to document the way this plugin works. Its functioning seems obvious, but I was kind of surprised I had access to dependencies that were defined in ```require-dev``` sections on a production environment, where these dependencies are not physically installed.

[This feature](https://github.com/Ocramius/PackageVersions/blob/7519e4dca762484ac3ca507bfd133f9fe417c896/src/PackageVersi

[2016-06-15 14:15] Ocramius commented on #22
The problem being solved by this package is usually around codegen. Specifically, say you generate assets with a dependency set `X+Y+Z`, you want to re-generate (or resolve) cache paths depending on those generated paths against `X+Y+Z`, regardless if those are in dev dependencies or not.

The point is being able to re-generate paths and hashes depending on installed dependencies, disallowing reus

[2016-06-15 14:31] holtkamp commented on #22
possibly I am just nitpicking, suggestion here: https://github.com/Ocramius/PackageVersions/compare/master...holtkamp:patch-1

[2016-06-15 14:35] Ocramius commented on #22
@holtkamp that works, I just added some remarks, as I think it makes the sentence a bit hard to follow. The package doesn't contain much, so I'd rather keep it simple for the reader and for self-advertisement reasons.

[2016-06-15 14:36] Ocramius commented on #22
Closing here, moved to #23

[2016-06-15 14:36] #22 closed

[2016-06-23 13:26] bartfeenstra opened #24 "PHP 5 compatibility"
Hi! I'm here on behalf of Drupal, where we need functionality like this package provides. At this point we're pledged to support PHP 5.5, but we will increase the minimum requirement to PHP 5.6 later this year together with upgrading our Symfony components to ~3.0. PHP 7 is supported, but this is a matter of minimum requirements.

We've done a quick review of the code and it looks like the only th

[2016-06-23 13:52] black-snow commented on #18
Getting this even without `--no-scripts`.
`$ composer install`

  file_put_contents(/xyz/vendor/ocramius/package-versions/src/PackageVersions/Versions.php): failed to open stream: No such file or
   directory

There's nothing funny w/ my composer.json; it was generated via `composer init`.

[2016-06-23 16:06] Ocramius commented on #24
Hello,

PHP 5.x support is not gonna get into this package, sorry.

Please upgrade PHP requirements on your side, if you really need it. Please consider forking the project if you wish to maintain 5.x compatibility.

Closing as duplicate of #10

[2016-06-23 16:06] #24 closed

[2016-07-12 15:59] KatharinaSt commented on #18
I get the same error using "composer install" (without parameters) and PHP 7.0.8:

"..."
"Generating autoload files"
"[ErrorException]"
"file_put_contents(/path/to/vendor/ocramius/package-versions/src/PackageVersions/Versions.php): failed to open stream: No such file or directory"

My context: Symfony 2.7

[2016-07-12 21:26] Ocramius commented on #18
Run it with -vvv please
On 12 Jul 2016 5:59 p.m., "KatharinaSt" <notifications@github.com> wrote:

[2016-07-22 10:42] stof opened #30 "The version class is generated twice during composer update"
Here is the output:

[code]

[2016-07-22 10:57] stof commented on #30
OK, I found what was the issue

[2016-07-22 12:06] #30 closed

[2016-07-22 13:19] Ocramius commented on #18
Provided a fix via #33, please review.

[2016-07-22 14:38] #18 closed

[2016-07-23 09:06] prolic opened #34 "Fatal error during travis build after update to 1.1.0"
[code]

[2016-07-23 09:07] prolic commented on #34
Btw: PHP 7 only is used on travis.

[2016-07-23 21:24] Ocramius commented on #34
Neither PackageVersions nor ProxyManager v2 officially support HHVM: can't
do much, since it's lagging back on language support

On 23 Jul 2016 11:07 a.m., "Sascha-Oliver Prolic" <notifications@github.com>
wrote:

[2016-07-24 04:18] prolic commented on #34
I am not using hhvm, but PHP 7 and travis builds are failing with 1.1.0 and passing with 1.0.4.

[2016-07-24 04:19] prolic commented on #34
Unfortunately this is a private repository, but perhaps I can make a small test-repo to reproduce the issue for you, if necessary.

[2016-07-24 20:39] Ocramius commented on #34
Does the problem present itself with master?

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Sun, Jul 24, 2016 at 6:19 AM, Sascha-Oliver Prolic <
notifications@github.com> wrote:

[2016-07-25 06:50] prolic commented on #34
Yep, works with current master.

[2016-07-25 07:04] Ocramius commented on #34
@prolic I'll tag a release then. Gimme a few minutes :-)

[2016-07-25 07:05] prolic commented on #34
perfect, thanks.

[2016-07-25 07:13] #34 closed

[2016-07-25 07:17] Ocramius commented on #34
https://github.com/Ocramius/PackageVersions/releases/tag/1.1.1

[2016-07-25 13:18] ThaDafinser commented on #4
@Ocramius my use cases to read metadata from the installed packages increased.

Based on your work (and https://github.com/mindplay-dk/composer-locator), i created those 2 WIP files, to get all informations i need.
https://gist.github.com/ThaDafinser/1dbb7c287717aa010c25f4e93d236ece

My question: Is there any intention to include all those information in your package? Otherwise i guess i would nee

[2016-07-25 23:01] Ocramius commented on #4
@ThaDafinser the question is: is it performance-sensitive? The aim of this package is to be performance-sensitive version information retrieval. If a `file_get_contents('composer.lock')` isn't a problem in your scenario, then it probably doesn't fit in this package.

[2016-07-26 05:28] ThaDafinser commented on #4
Fast is always better...
Like provided in my example code, i nearly do the same like you did hear. But instead of just saving the version in the constant, i added all values of the package metdata
https://github.com/Ocramius/PackageVersions/blob/master/src/PackageVersions/Installer.php#L172-L174
https://gist.github.com/ThaDafinser/1dbb7c287717aa010c25f4e93d236ece#file-packagetemplate-php-L16
https

[2016-07-26 05:34] Ocramius commented on #4
Depends on effort and on what you are doing there. Specifically, if you are actually traversing a directory tree (seems like you want to work with directories there), you are already going to cause some I/O there, no?

[2016-07-26 05:43] ThaDafinser commented on #4
I think we miss us both :smile:

In my example code i also add all values (on composer install/update) to the constant like you do here already with the version only.
So you have all values ready in a class and no composer.json or composer.lock involved later.

Example result (after install/update):
[code]

[2016-07-26 05:45] Ocramius commented on #4
I get what you want to do, I don't get:

 * why this fits this package
 * why is performance-sensitive a requirement
 * why can't the class do a lookup of the `composer.lock` instead of involving build-time codegen (which fails, a lot...)

Also, many of the structures involved are already defined in `composer/composer`, which may as well become a dependency, should package operations be required a

[2016-07-26 06:12] ThaDafinser commented on #4
Currently i need to know those 3 things
- know if a package is installed
- know the installed version of a package
- know the installed tag/branch datetime of a package

Those 3 things i detect and read currently ugly/slow - with composer.json and composer.lock involved
https://github.com/ThaDafinser/UserAgentParser/blob/f087a38db03cc746039666087ee00d1aa126b8b7/src/Provider/WhichBrowser.php#L85-L8

[2016-07-26 06:26] #4 closed

[2016-07-26 06:27] Ocramius commented on #4
kinda weird, but I agree that we can add a getter for `isInstalled` or such: not much work to be done.

This seems weird

I agree, but you still need to think about the 80/20 scenario. The 80% scenario here is "generate some sort of hash/prefix for assets depending on dependency versions/deployed version".

I'd say that you should first extract to your own package, and then we integrate it in here

[2016-08-09 11:42] ThaDafinser commented on #4
@Ocramius i published now this package https://github.com/ThaDafinser/PackageInfo

If i "copied" to much ideas/code from you, feel free to ping me!

Seem to work well https://github.com/ThaDafinser/UserAgentParser/pull/99/files

[2016-08-09 12:39] Ocramius commented on #4
@ThaDafinser this project is MIT: if you think that anything was copied, all you have to do is just mention the source somewhere in a comment.

[2016-08-15 20:13] sameg14 opened #37 "Fatal error"
PHP Parse error:  parse error, expecting `';'' or `'{'' in /Users/spatel/htdocs/se-api/vendor/ocramius/package-versions/src/PackageVersions/Installer.php on line 98

[2016-08-15 20:19] #37 closed

[2016-10-26 12:00] AydinHassan opened #38 "Interferes with other projects when installed globally"
I found this issue when installing a tool globally which depended on `ocramius/package-versions`.

It will then try to write package versions for any other composer project when an update is performed, it will subsequently fail because the folder structure it expects to exist, doesn't.

To reproduce:

[code]

The output will be something along the lines of:

[code]

Note that for my use-case I do

[2016-10-26 12:22] AydinHassan commented on #38
Maybe we could check the root composer json requires, and if it doesn't contain `ocramius/package-versions` then we don't generate? Basically if this tool hasn't been specifically required, then we don't generate versions.

[2016-10-26 13:42] Ocramius commented on #38
Is the directory missing? That's indeed a weird scenario (package-versions being removed). The correct solution would probably be to check whether the `composer.lock` contains package-versions, before trying to generate anything.

[2016-10-26 13:43] Ocramius commented on #38
This needs a proper e2e test too, by the way... Not sure how to write it yet.

[2016-10-26 13:45] AydinHassan commented on #38
The directory is missing, because the local project doesn't specifically require `ocramius/package-versions`, the plugin executes because it is installed globally. Yeah thats what I thought about checking `composer.lock` before generating. I'll have a play after work and push something up, then we can figure how to do some e2e tests.

[2016-10-26 13:46] Ocramius commented on #38
@AydinHassan thanks if you can figure out the e2e stuff! Tricky one...

[2016-12-30 06:44] #38 closed

[2017-05-07 00:48] Xerkus opened #41 "Removing this package on install results in file access error"
Steps to reproduce:
- add as a dev dependency
- run composer install
- run composer install --no-dev

[2017-05-08 10:03] Ocramius commented on #41
Seen this before, but I don't have a resolution path.

We could probably check for packages scheduled for removal, then skip generation if this package is in the list.

[2017-05-22 12:24] patkar opened #42 "Add possibility to check for the existence of an dependency too"
Use Case: Check if a dependency isn't installed at all and if it is installed check the version constraint.

Scenario: Having optional code, which should be only executed if a given dependency is installed and at the right version. Currently doing the following:

[code]

Either a new `hasDependency()` or a new `$throw` parameter could work. Don't know which is better for the public API. A `$throw`

[2017-05-22 12:54] Ocramius commented on #42
This seems like a weird use-case for this library. What I could do is exposing the constant being generated (unsure if I want to keep BC compliance there though), and then you'd be on your own.

Still, I believe that you should try something different for your `embed/embed` dependency:

 1. Ask the user to explicitly pass in an `EmbedAdapter`, provided by a secondary package of yours, optionally i

[2017-05-22 13:09] patkar commented on #42
The constant being generated is already exposed because default visibility is public. But I assume it's nothing of the public API, especially it won't be available, when `--no-scripts` was called and it falls back to the `FallbackVersions`.

Maybe I overestimated the use cases of the lib and the `class_exists()` check is the way to go in my use case :blush:

[2017-05-28 19:16] rask commented on #41
Happening here too. Will resort to just keeping dev-packages are is for the time being.

[2017-05-29 00:59] Ocramius commented on #41
Unsure what you mean with that?

Also, I think that the best solution would be for me to move where the `Versions` class is dumped (maybe `vendor/.package-versions/Version.php`, then replace the autoload definitions?)

[2017-06-03 00:33] morozov opened #43 "Nicer formatting for development versions"
If an installed dependency has a development version constraint (say 3.0.x-dev), the result looks like:

As far as I understand, these 9ths come from [composer/semver](https://github.com/composer/semver/commit/e2bb34c49772437fc98ac350dccb095730952575#diff-d31fb7758d82628c36d95136856a69caR91) and are mere implementation details. If one uses it in the `--version` output as suggested in https://githu

[2017-06-03 10:30] theofidry commented on #43
From what I see we just need to replace `9999999.9999999-dev` by `0-dev` right?

[2017-06-03 10:34] theofidry opened #44 "Short version"
Looking at https://github.com/Ocramius/example-symfony-cli-usage/pull/4, the version displayed will be something like `3.0.0@f9844cfd7179b1e279c0a78e41d96cb710858763`. Although I understand the motivation behind displaying the commit reference as well, I don't actually think a lot of people would like that, hence maybe providing a `Versions::getShortVersion()` displaying `3.0.0` would be a nice to

[2017-06-03 10:40] Ocramius commented on #43
This package doesn't care about "nice" formatting: it will always smash
together the composer "detected" vs "source" versions.

On 3 Jun 2017 12:30, "Théo FIDRY" <notifications@github.com> wrote:

[2017-06-03 11:06] theofidry commented on #43
@Ocramius but that makes this package hardly usable, having yet another micro-package wrapping it just for it would be silly. What's more is that this "detected" is a Composer internal thing, it doesn't really make sense from the user POV.

[2017-06-03 11:10] Ocramius commented on #43
Why so? The package is supposed to give raw version information to tools
that need it (usually to decide when any version change happened).

On 3 Jun 2017 13:06, "Théo FIDRY" <notifications@github.com> wrote:

[2017-06-03 11:23] theofidry commented on #43
If the goal is to give raw information, then maybe it makes sense to keep it as it is.

To extend more on my use case, I was thinking of adding this package kinda like shown in https://github.com/Ocramius/example-symfony-cli-usage/pull/4 to display the command version. But there's two issues with that:

- Right now this Composer internal thingy is exposed (which is what this issue) is about
- You

[2017-06-03 13:28] Ocramius commented on #43
hardly make any sense for users in the case above [command version].

No, if I run a cli app I want to see that kind of info too.

On 3 Jun 2017 13:23, "Théo FIDRY" <notifications@github.com> wrote:

[2017-06-03 13:41] theofidry commented on #43
If it's a tagged version this hardly matters and most CLI apps currently don't display it (and don't want to display it)

[2017-06-03 13:43] Ocramius commented on #43
Yeah, no, that's just useless nitpicking: show the entire thing or waste
30s of your life to `explode()` it.

On 3 Jun 2017 15:41, "Théo FIDRY" <notifications@github.com> wrote:

[2017-06-03 14:10] theofidry commented on #43
It's a one function call that makes the difference between having something that *just works* as you want right away and something you have to tweak for whatever reason.

Having something like `5.0.9999999.9999999-dev@69c4f49ff376af2692bad9cebd883d17ebaa98a1` is just way too verbose and look alien, whereas `5.0.0-dev@69c4f49` would be a good compromise. Then if you really want to nitpick to displa

[2017-06-03 14:15] Ocramius commented on #43
Not gonna happen here: this package gets the detected version as-is, with no additional processing to avoid any kind of of loss of information or too eager assumptions.

That sai, closing here: version string will stay as-is, while nicer parsing and representation should be delegated to packages like composer/semver.

The purpose here is to cache full version information without any runtime I/O, n

[2017-06-03 14:15] #43 closed

[2017-06-03 14:43] #44 closed

[2017-06-03 14:48] Ocramius commented on #44
Reasons for this to be closed are explained in https://github.com/Ocramius/PackageVersions/issues/43

[2017-06-03 18:34] morozov commented on #43
It explains the "won't fix" resolution.

To understand the purpose of the package better: the version output contains both version and the commit hash. What's the intended use case where both of them are needed? If it's for tooling/automation, commit hash will be enough for detecting changes. If it's for UI, the hash is only needed for non-tagged commits.

[2017-06-03 19:00] theofidry commented on #43
Update your example and avoid complains :P

On Sat, 3 Jun 2017 at 19:34, Sergei Morozov <notifications@github.com>
wrote:

[2017-06-03 20:22] Ocramius commented on #43
PR PLOX

[2017-06-03 20:23] Ocramius commented on #43
Sometimes the source doesn't contain the hash, and composer generates a version that is to be used. Sometimes the composer version is a branch reference that needs a complementary version.

Therefore, `"composer computed version" + "source version"` is a relatively reliable approach.

[2017-06-12 10:56] romainlaisne opened #45 "Error Installer.php on line 104"
I am getting this error while updating with Composer:

Loading composer repositories with package information                                                                                     Updating dependencies (including require-dev)           - Installing ocramius/package-versions (1.1.2)
    Downloading: 100%

Parse error: syntax error, unexpected ':', expecting ';' or '{' in
[....]l/vendo

[2017-06-12 11:23] romainlaisne commented on #45
![image](https://user-images.githubusercontent.com/7721517/27031864-544d707a-4f72-11e7-9f13-3acd99164fe7.png)

[2017-06-12 11:23] romainlaisne commented on #45
Apparently due to PHP version.

[2017-06-12 11:44] Ocramius commented on #45
This package requires PHP 7.1

[2017-06-12 11:44] #45 closed

[2017-06-12 12:32] theofidry commented on #45
@Ocramius you only putted PHP 7.0 in the `composer.json` though.

@romainlaisne this looks a bit weird, if you're not in PHP7 you should have had an error as there's there's a PHP 7.0+ requirement in the `composer.json` of this package

[2017-06-12 13:53] Ocramius commented on #45
Ah yeah, I should bump the requirements

[2017-06-12 13:53] Ocramius commented on #45
Ah yeah, I should bump the requirements

[2017-06-12 20:49] malukenho commented on #42
Closed as invalid

[2017-06-12 20:49] #42 closed

[2017-06-20 05:03] Ocramius commented on #21
Closing as per https://github.com/Ocramius/PackageVersions/issues/44 and https://github.com/Ocramius/PackageVersions/issues/43

[2017-06-20 05:03] #21 closed

[2017-07-06 09:18] Jean85 commented on #43
If anyone is still interested, I've released a really small package to do this: https://github.com/Jean85/pretty-package-versions

[2017-07-19 11:50] peterjaap commented on #41
Only way to skip this error for me is to install it with `--no-scripts`. :(

[2017-08-21 17:03] kubawerlos commented on #41
Looks like a [composer thing](https://github.com/composer/composer/issues/4520). Consider following sequence of commands (in an empty directory):
[code]
First run of `composer install --no-dev` registers plugin before the package is removed, but activates it after removing. Also the package [checks](https://github.com/Ocramius/PackageVersions/blob/master/src/PackageVersions/Installer.php#L86) if i

[2017-08-31 18:44] Majkl578 commented on #41
Just ran into this today because PHPStan now depends on PackageVersions indirectly since 0.8.1.
Workaround is to run install with `--no-scripts` and then run scripts separately with `composer run-script`.

[2017-09-01 17:54] JeroenDeDauw commented on #41
Also running into this https://travis-ci.com/wmde/fundraising-backend/jobs/88894597

[2017-09-03 01:42] Majkl578 commented on #41
How about using `Composer\Installer\PackageEvents::POST_PACKAGE_UNINSTALL` to detect uninstallation of this package and disable installation in such case?

[2017-09-03 01:52] Ocramius commented on #41
@Majkl578 how would that work? Just listen to the event, collect the package names, stop execution?

[2017-09-03 02:05] Majkl578 commented on #41
@Ocramius Listen to the event and look for UninstallOperation where `$op->getPackage()->getName() === 'ocramius/package-versions'`.
If received, either unregister itself from the post-install event subscription (if possible) or store information about being uninstalled (private property -> state -> meh?) and simply abort execution in the `dumpVersionsClass()`.
Is that even possible? :P

[2017-09-03 02:07] Ocramius commented on #41
SHINY!

It all depends on the amount of sleepless nights that I can bring to @seldaek

[2017-09-04 07:58] Jean85 commented on #41
I would like to propose an other solution: intervening directly on the error cause.

That should be done [here](https://github.com/Ocramius/PackageVersions/blob/e9cea3728251f3894d035601cdd57dd8374582c5/src/PackageVersions/Installer.php#L127), checking if the package folder exists; if it does not, we could skip it, maybe outputting a nice explanation message.

Do you like it? I will probably write

[2017-09-06 15:19] #41 closed

[2017-09-06 15:22] Ocramius commented on #41
Handled in #46

[2017-10-23 21:50] ondrejmirtes opened #48 "Strange error when building PHPStan PHAR"
Hi Marco,
since fixing the Composer issue in 1.1.3, I'm not able to build a PHAR package when depending on this library. It fails with a strange issue:

[code]

When trying to run `composer dump-autoload --optimize --classmap-authoritative`.

I'm really not able to debug this, I just know that if I remove dependency on PackageVersions, it starts working.

The PHAR is built using [phpstan-compiler]

[2017-10-23 21:53] ondrejmirtes commented on #48
I also tried to compile commit hash `e7e6db84cbb92b02a36d5b261fff918905057011` (uses older `ocramius/package-versions` 1.1.2) and it works. So the issue is really casued by 1.1.3

[2017-10-23 21:53] Ocramius commented on #48
The class file is declared twice in this package: once as a fallback, and
after installation as a compiled class. I suggest checking the state of the
package before the phar processing begins. If the phar-ification moves
stuff around, be aware that this package modifies the file in-place.

On 23 Oct 2017 23:50, "Ondřej Mirtes" <notifications@github.com> wrote:

[2017-10-23 22:17] ondrejmirtes commented on #48
I don't understand fully what should I do, but I at least have steps to reproduce this problem on a clean repo:

1) `composer require ocramius/package-versions`
2) `composer update --no-dev --no-suggest --optimize-autoloader --classmap-authoritative`
3) Rename manually the namespace of the three classes this package consists of.
4) `composer dump-autoload --optimize --classmap-authoritative` => `P

[2017-10-23 22:54] Ocramius commented on #48
I can't reproduce this locally. Here's what I did:

[code]

Then:

[code]

Produced:

[code]

Then edited the `PackageVersions` namespace:

[code]

Then ran:

[code]

Produced following output (success):

[code]

And following changes:

[code]

[code]
[code]

[2017-10-24 04:00] ondrejmirtes commented on #48
I followed the same steps and created this repo: https://github.com/ondrejmirtes/debug-48-package-versions

When I clone it to a new directory and try to run:

[code]

It crashes:

[code]

[code]

Even the `composer --version` fails:

[code]

[2017-10-24 04:00] ondrejmirtes commented on #48
I just got an idea - maybe I have the same stuff installed globally and it clashes? I need to look at it.

[2017-10-24 04:04] ondrejmirtes commented on #48
Oh god, that was it. It was sufficient to remove `phpstan/phpstan` from ``~/.composer/composer.json` and run `composer global update`.

Sorry for that. Do you think is there any lesson or issue to be reported to the authors of Composer or should I just close this? It seems a little bit weird to me why it autoloaded globally installed stuff even when I worked with project-scope composer.json...

[2017-10-24 05:43] Ocramius commented on #48
I really don't know why a global install would affect this as well 🤔

On 24 Oct 2017 06:04, "Ondřej Mirtes" <notifications@github.com> wrote:

[2017-11-27 09:31] Jean85 opened #52 "Root package version show normalized in a version-branch"
This was originally reported in https://github.com/Jean85/pretty-package-versions/issues/4; basically #51 doesn't work when the root package is in a version-branch (i.e. `3.0`).

This will be fixed when https://github.com/composer/composer/issues/6845 will be fixed.

This is a release blocker (as said by @Ocramius in https://github.com/composer/composer/issues/6845#issuecomment-347123240).

[2017-11-30 14:56] Jean85 commented on #52
https://github.com/composer/composer/pull/6845 has been fixed, this should be resolved with the next Composer's patch.

[2017-11-30 15:01] Ocramius commented on #52
:+1:

[2017-11-30 18:51] Ocramius commented on #52
https://github.com/composer/composer/releases/tag/1.5.3 released, so this can be shipped!

Ref: https://github.com/composer/composer/commit/5ba6d7d4364b0d1898017436935b863d4d8fb14d

[2017-11-30 18:51] #52 closed

[2017-11-30 18:52] Ocramius commented on #48
Closing here - this is not strictly related to this particular package.

[2017-11-30 18:52] #48 closed

[2017-11-30 19:35] theofidry commented on #48
Sorry for the noise if it's no longer relevant.

@ondrejmirtes if you happen to use box it sometimes incorrectly look for the autoloader by starting by the most global one instead of going from the local to global

[2017-12-11 13:08] aschempp opened #53 "Add a method to get all packages"
It would be helpful to have a method to get all packages (instead of directly accessing the constant). I can provide a pull request, just wanted to check first if that would be a useful feature to you?

[2017-12-11 13:09] Ocramius commented on #53
@aschempp accessing the constant is preferrable here

[2017-12-11 13:09] #53 closed

[2017-12-11 13:10] aschempp commented on #53
Accessing the constant won't help with the `FallbackVersions` though, as it could provide the list of packages from the `composer.lock` in that case 😉

[2017-12-11 13:12] Ocramius commented on #53
Yeah, I don't think I'd want to go down that route, and would probably rather deprecate the fallback approach and cause a hard failure at install instead...

[2017-12-11 13:19] aschempp commented on #53
okay, I can live with that :-)

[2018-01-16 10:55] rybakit opened #55 "Consider adding Versions::getRootPackageVersion()"
Having `Versions::getRootPackageVersion()` will allow to replace "hard-coded" root package names (like [here](https://github.com/amphp/aerys/blob/e4198fbcfc5791525c8913f75ef20915a402cc2e/lib/constants.php#L6) and [here](https://github.com/Ocramius/example-symfony-cli-usage/blob/a84b56e52b2719646fddda6b4b4bfa4918b33783/container.php#L20)),  which can be usefull for skeleton repositories.

Atm, I us

[2018-01-16 16:53] Ocramius commented on #55
More than that, I'd rather expose the root package name and leave the API surface as small as possible. Thoughts?

Effectively, this means adding a class name to the generated code.

[2018-01-16 19:47] Jean85 commented on #55
I would be interested in having/doing this too!

[2018-01-16 22:33] rybakit commented on #55
@Ocramius Sorry, I didn't quite understand how you propose to expose the root package name. Do you mean adding a constant to the generated class, eg

[code]
?

[2018-01-17 06:13] Ocramius commented on #55
Correct - that should be a sufficient first implementation

On 16 Jan 2018 23:33, "Eugene Leonovich" <notifications@github.com> wrote:

[2018-01-17 09:38] rybakit commented on #55
https://github.com/Ocramius/PackageVersions/pull/56

[2018-02-05 11:38] #55 closed

[2018-02-12 11:51] klodoma opened #60 "Can't run composer update"
Hi,

I have one server where I cannot run composer update. I get the following output. Php and composer versions are bellow. Any ideas?

I "assume" that it has something to do with the php version, but in this case shouldn't the package complain and not end with a fatal error?

[code]
[code]

[code]

[2018-02-12 11:53] Ocramius commented on #60
`ocramius/package-versions:1.3.0` [requires PHP 7.1](https://github.com/Ocramius/PackageVersions/blob/4489d5002c49d55576fa0ba786f42dbb009be46f/composer.json#L13)

[2018-02-12 11:53] #60 closed

[2018-03-21 12:41] andrerom opened #62 "PHP Parse error on composer update"
[code]

Reason: Switching between PHP versions when doing testing and this package not knowing when it should not load itself.

So improvment request: Please add some sanity check for php version running before loading plugin code to avoid this.

[2018-03-21 12:49] Ocramius commented on #62
The lib has a strict `php` constraint

[2018-03-21 12:56] andrerom commented on #62
doesn't help, this is composer plugin which is loaded by composer _before_ packages get's updated.

One alternative is that you can argue composer should either bluntly delete vendor folder on updates / installs before loading anything. but..

[2018-03-21 13:01] Ocramius commented on #62
The PHP installation is assumed to be relatively static, and I'd add that the current stable version of PHP is 7.1 already, so I don't think adding an enable/disable flag depending on the current SAT solver is a good idea, as switching environment on the same project should always come with a complete wipe of `vendor` for safety.

Even the plugin activation code itself may use 7.2+ features, so it

[2018-03-21 13:18] andrerom commented on #62
Actually it's just `rm -Rf vendor/ocramius`, everything else is fine ;)

[2018-03-21 13:18] #62 closed

[2018-03-21 13:33] Ocramius commented on #62
@andrerom you could have a hundred plugins in there: they all activate ;-)

[2018-03-21 13:38] andrerom commented on #62
None as aggressively using bleeding edge PHP features, and un-supporting prior PHP versions as often as packages you are involved in ;)

[2018-03-21 13:42] Ocramius commented on #62
You can lock onto previous versions of `ocramius/package-versions` if you want to support older PHP versions

[2018-03-21 19:13] andrerom commented on #62
It's a dependency of my dependencies kind of thing, we don't use it, and don't have it on PHP 5.6 installs.

composer why:
`ocramius/proxy-manager  2.2.0  requires  ocramius/package-versions (^1.1.3)`

[2018-03-21 19:18] Ocramius commented on #62
Right, then I suggest using --no-scripts cor operations that may lead to
eager dependency autoloading on antiquated PHP versions

On 21 Mar 2018 20:13, "André R." <notifications@github.com> wrote:

[2018-03-29 07:06] jeremy-smith-maco opened #63 "Change the chmod call to @chmod"
https://github.com/Ocramius/PackageVersions/blob/4489d5002c49d55576fa0ba786f42dbb009be46f/src/PackageVersions/Installer.php#L122

Change this from `chmod()` to `@chmod()`

[2018-03-29 12:25] Ocramius commented on #63
Duplicate of https://github.com/Ocramius/PackageVersions/pull/47

[2018-03-29 12:25] #63 closed

[2018-04-17 01:17] vasily-kartashov opened #64 "Error when using Composer 1.6.4 with PHP 7.0"
Running `composer update` ends with the following error
[code]

[2018-04-17 04:35] Ocramius commented on #64
You are running it on PHP 7.0.* instead of 7.1+

[2018-04-17 04:35] #64 closed

[2018-04-17 06:33] vasily-kartashov commented on #64
Not sure if it's for you or composer team, but updating composer from 1.6.3 to 1.6.4 now broke the build because of the `:void` return type. Cannot see anywhere on the composer's website that PHP 7.0 is not supported.

Thanks

[2018-04-17 07:33] Ocramius commented on #64
The problem here is that the PackageVersions plugin is installed in the project you currently have open (or as global dependency somewhere), and you try running it against 7.0.

[2018-04-17 09:27] Ocramius commented on #64
No, the plugin is on your system, not in `phar://` (contents of `composer.phar`).

The path of this plugin is `/var/www/php/vendor/ocramius/package-versions/src/PackageVersions/Installer.php` in your case.

[2018-04-17 10:12] vasily-kartashov commented on #64
Thank you, much appreciated.

[2018-06-06 13:02] pablorsk commented on #64
I have the same problem. The problem is not `composer`, it's your `package.json`.

If you solve the problem, can you post the solution? If you don't, can you paste your `composer.json`?

[2018-06-06 13:03] Ocramius commented on #64
@pablorsk please open a new issue with a detailed description of what you are doing

[2018-06-06 13:29] Ocramius commented on #64
Ah, this is normal behaviour though. Do you have a `composer.lock`?

[2018-06-06 13:36] pablorsk commented on #64
Yes @Ocramius, but with or without `composer.lock` the problem persists. Only solution (for now) is "don't share `vendor` folder between machines".

[2018-06-06 13:42] Ocramius commented on #64
That should already be the case: vendor should be installed, not copied, as that guarantees that dependencies do work on different machines

[2018-06-06 13:45] Majkl578 commented on #64
You should share `vendor/` that is installed according to your lowest required PHP version, otherwise it's _not portable_. It should be enforced it by using `config.platform.php` in composer.json.

[2018-07-02 23:26] hirak opened #67 "After "global require", "composer install" got broken."
## description

1. composer global require ocramius/package-versions
2. At any repository without composer.lock, "composer install" will fail.

## why "global require"

This pkg required by phpstan/phpstan. I tried to install it with `composer global require`.

## reproduction procedure

[code]

[2018-07-03 09:02] Ocramius commented on #67
This isn't fixable on my end, as this package really can't know whether it is running from a global require or a package-specific require (much like it can't operate under `"vendor-dir"` customisation).

My generic advice is to stop using `composer global require` overall: haven't needed it in over 5 years of extensive `composer` daily usage, and won't need it anytime soon anyway :-)

Closing as `

[2018-07-03 09:02] #67 closed

[2018-07-19 14:35] dzuelke commented on #64
Alright so, this is still a bug I think that needs fixing.

For instance, I have a project that has this package as a dependency; it's installed inside `vendor/`.

If I now do `composer config vendor-dir` on that project using PHP 7.0, I get the crash.

I realize that a `composer install` won't work with PHP 7.0; this is, in my case, during Heroku's bootstrapping process, where PHP 7.0 and Compose

[2018-07-19 14:37] Ocramius commented on #64
@dzuelke does Heroku use the composer CLI to determine the version? Any way we can reproduce it in autonated tests?

[2018-07-19 14:53] dzuelke commented on #64
Heroku downloads Composer as well as a minimal version of PHP (currently 7.0.30, but that's not the point; this incompatibility could also be in the other direction with a newer version) for bootstrapping, then extracts all platform dependencies from `composer.lock`, writes a "platform" `composer.json`, and uses a custom Composer installer to install PHP and all extensions from a custom "platform"

[2018-07-23 18:45] Ocramius commented on #64
That's a completely separate issue then, and tbh I wouldn't expect composer to run scripts during `composer config` :|

Can anybody open an issue with a reproducer tho? I can't do much without the exact scenario that is broken...

[2018-07-23 19:11] dzuelke commented on #64
It doesn't run scripts, but because `composer.json` has this package as a dependency, and because this package is a Composer plugin, it gets loaded, and `activate()` is called, leading to the `TypeError`.

You can reproduce this simply by having e.g. a fully `php72 $(which composer) install`ed `doctrine/doctrine-migrations-bundle:^1.3`, and then running `php70 $(which composer) config`.

Of course

[2018-07-23 19:32] Ocramius commented on #64
I'm conflicted here: you produce a project artifact with a newer PHP version, then this gets downgraded (post-install), and that crashes.

To me, this is perfectly normal, even for `config` and `status` crashing: that project is no longer usable with other environment versions.

Still, if I wanted to allow this package to run that way, I'd make the plugin activation bits un-typed.

The "needs" bit

[2018-07-31 00:38] dzuelke commented on #64
Is this maybe something Composer should handle (by catching the error and selectively disabling the plugin) for commands such as `composer config` and friends? @naderman and @seldaek, what's your take on this?

[2018-08-03 11:55] dzuelke commented on #64
Yeah @naderman but you can't even run `diagnose` or `validate` or `self-update` if a project like that is the current working dir...

[2018-08-03 12:08] Ocramius commented on #64
Yeah, because the listeners are regisered upfront, I suppose. The alternative would be to make all listeners (somehow) lazy

[2018-08-03 12:20] Seldaek commented on #64
@dzuelke you can run these commands with --no-plugins. If you don't expect a plugin is required for these commands to function correctly in your context, it's safer to disable them. 1.7-RC had a regression where disabling plugins failed, but 1.7.0 should do it fine.

[2018-08-03 16:03] dzuelke commented on #64
I can, @Seldaek, but what about the average user who's just trying to do a `self-update` in an attempt at fixing "those weird Composer errors" they don't quite realize the root cause of?

I agree it's a rare situation though, but it happens, as evidenced by this ticket ;)

[2018-08-09 15:42] Allegro145 commented on #62
Need help..
After successfully installed composer 1.7.1, when do a 'php composer.phar', I have the following error: Parse error: parse error, expecting `';'' or `'{'' in /Users/user name/.composer/vendor/ocramius/package-versions/src/PackageVersions/Installer.php on line 59.
Have removed and reinstalled older versions composer, still have the same error. Please someone could let me know how can I

[2018-08-09 15:58] Ocramius commented on #62
Upgrade your PHP version and it should be alright

[2018-08-09 16:03] Allegro145 commented on #62
I updated PHP to 7.2.7, MAMP 5.0.1 along with composer to 1.7.1 then I have this error. I am now back to MAMP 3.5, PHP 5.6.10 but still have the same error!

[2018-08-09 16:23] Ocramius commented on #62
What's the output of `php -v`?

[2018-08-09 16:41] Allegro145 commented on #62
PHP 5.5.38 (cli) (built: Oct 29 2017 20:49:07) . I installed composer 1.5.0 which didn't work.

[2018-08-09 16:43] Ocramius commented on #62
Yeah, so upgrade it so that it says `PHP 7.2.x` (current stable) and you should be fine :)

[2018-08-09 16:58] Allegro145 commented on #62
I ran this: curl -s https://php-osx.liip.ch/install.sh | bash -s 7.2
Saw the following:
Installing package 7.2-10.10-frontenddev into root /
Package 7.2-10.10-frontenddev is already installed at version 7.2.7-20180623-112258. You wanted to install version 7.2.7-20180623-112258.
Finished.
Also installed composer and saw: Composer (version 1.7.1) successfully installed to:
Then did: php composer.pha

[2018-08-09 17:02] Ocramius commented on #62
This is most likely because the `php` you have in your `$PATH` is different from the one by Liip

Check the output of `which php` and you will see what it resolves to. Adding a symlink to the actual PHP installation you want in `/usr/local/bin/` is generally solving this, as it "shadows" the other installation (presumably what comes with MacOS).

[2018-08-09 17:27] Allegro145 commented on #62
Did a PATH=/usr/local/php5/bin:$PATH, then I can see php -v is 5.6.36 now but yet to figure out how to add a symlink as you said. Will update you on this. Thanks for your help so far!

[2018-08-10 11:36] Allegro145 commented on #62
@andrerom & @Ocramius I have a project works with PHP 5.6 & MAMP 3.5. I want to test if it will work with PHP 7.2. I installed the PHP 7.2 and composer 1.7 but messed it all up and got those errors. I am now trying to get a clean install of PHP and composer (outside the MAMP), no matter which version as long as they work. But no luck, currently 'php -v' is 5.6.36 and 'phpinfo.php' is 5.6.10. So co

[2018-08-10 11:38] Ocramius commented on #62
Fixing this is going to fix your issues: 5.6 is extremely outdated, and you should move away from it regardless.

I have no idea how to fix MAMP, which is a separate process, but that's not an issue to be solved by this project.

Locking the thread here: we went hugely off-topic.

[2018-08-14 14:19] Amunak opened #68 "Check whether the chmod() call is needed"
So (as per #47) I get that you want to make the install "crash hard" when the `chmod()` call fails, but at least make sure that you call it only when necessary.

In the vast majority of cases the permissions are already correct but your script is crashing the whole `composer install` just because a different developer (user) ran it than the one who ran it the first time. When this happens on a pro

[2018-09-25 19:55] alekstar79 opened #71 "The type error of the function's response"
The following signatures are present in the function code:
`PackageVersions\Installer::activate(Composer $composer, IOInterface $io): void`
And the interface that the Installer implements has the following:
`Composer\Plugin\PluginInterface::activate(Composer $composer, IOInterface $io);`

The function returns nothing, it has an empty body at all. Because of this, the following error is emitted:

[

[2018-09-25 22:58] Ocramius commented on #71
Please upgrade to PHP 7.1+, as required by this packages's specified dependencies: https://github.com/Ocramius/PackageVersions/blob/1.3.0/composer.json#L13

[2018-09-25 22:58] #71 closed

[2018-09-26 06:56] alekstar79 commented on #71
I understand that. Just missed that I have php7.0 installed on the server. I'm sorry for my inattention.

[2018-09-26 06:59] Ocramius commented on #71
@alekstar79 please also read https://www.doctrine-project.org/2017/07/25/php-7.1-requirement-and-composer.html

Make sure you always develop on an environment that is compatible if not same as production.

[2018-10-29 14:43] Aaarrrgggh opened #72 "Parse error: parse error, expecting `';'' or `'{'' in vendor/ocramius/package-versions/src/PackageVersions/Installer.php on line 59"
Hi All,

I have installed Symfony 4 with composer. Everything is okay in the browser, but I can't update dependencies with composer.

I have this error:

Parse error: parse error, expecting `';'' or `'{'' in /Applications/MAMP/htdocs/app/vendor/ocramius/package-versions/src/PackageVersions/Installer.php on line 59

I'm using MAMP 5, with PHP version 7.2.8

How can I fix this?

Thanks all

Alexande

[2018-10-29 14:48] Ocramius commented on #72
Your web server is running a different version of PHP than the one in CLI.

[2018-10-29 14:48] #72 closed

[2018-12-07 14:41] cmtatro85 commented on #64
I know this is an old topic, but I am seeing that the documentation on the installation for the vim-plugin page says php7.0, but this ticket proves that you need 7.1 to make it work. Can we alter this page to make it reflect either the `composer install --no-plugins` or bump the recommendation to PHP7.1

BUG: Current manual install procedure does not work.
[code]
https://phpactor.github.io/phpacto

[2018-12-07 14:44] Ocramius commented on #64
Both PHP 7.0 and 7.1 are EOL'd and not relevant anymore: please upgrade.

Locking here: there is absolutely no reason to discuss 7.0 or 7.1 support anymore.

[2018-12-11 09:40] dmolineus opened #74 "Replaces are not recognized for packages"
At the moment the composer replace configuration is only handled for the root package. But it's also possible that regular packages defines replacements. It would be great if they are also recognized.

[2018-12-11 14:41] Ocramius commented on #74
@dmolineus a `replace` is a SAT mechanism for replacing a package, but the replaced package is, in fact, not installed.

The actual name of the installed package is not the one that is being replaced, so the current behavior is expected/correct. If the `"replace"` directive was used to fetch the replacing package name and use its version instead, then `PackageVersion` would be exposing invalid inf

[2018-12-11 14:41] #74 closed

[2019-01-10 23:23] cannibal opened #76 "Offensive error message"
I have used libs in this namespace for many years on very high quality PHP projects.

However, had the misfortune of encountering an unprofessional fallback message in FallbackVersions.

Grep for this:
       . 'then you are on your own, and we can\'t really help you. Fix your shit and cut the tooling some slack.',

More concerning I see tests have been written for it.

Dont mean to be holier than

[2019-01-11 11:53] Ocramius commented on #76
Duplicate of https://github.com/Ocramius/PackageVersions/pull/73

This package is indeed provided as-is as per its license: I do provide professional services for consulting fees, should the feature of custom installation paths be required, but that's not the case in general. As in referenced discussions in the #73, I have no intention to change the wording.

[2019-01-11 11:53] #76 closed

[2019-02-07 14:20] staabm opened #77 "return a object instead of a string"
in our use-case it would be more helpfull to have a value object returned from the api on which values (name, version, reference) could be obtained separately instead of a string.

would this be something we can agree on?

[2019-02-07 14:23] Ocramius commented on #77
I'd rather keep this package extremely minimal: defining what a version looks like is not trivial (from what I saw in maintaining `roave/security-advisories`), so I'd rather defer this to @nikolaposa's work instead, and not have my own opinionated value types.

[2019-02-07 14:23] #77 closed

[2019-02-07 14:28] staabm commented on #77
does this mean there is another package with a more complex api?

[2019-02-07 14:29] Ocramius commented on #77
Correct: this package only focuses on providing the raw information.

On Thu, 7 Feb 2019, 14:28 Markus Staab <notifications@github.com wrote:

[2019-02-09 12:11] nikolaposa commented on #77
@staabm This one for example: https://github.com/nikolaposa/version

[2019-05-01 11:25] glensc opened #84 "No version set (parsed as 1.0.0) in detached HEAD"
The detached HEAD usually appears when doing `git rebase`.

I resolved conflicts in `composer.lock` and run `composer update --lock` while rebasing. This resulted `'No version set (parsed as 1.0.0)@'`, written to `Versions` class.

# Reproducer:

1. `git rebase -i HEAD~1` # choose `pick` -> `edit`
2. `composer.phar show -s | head -n10 | grep versions`
3. `composer update --lock`
4. `grep parsed ve

[2019-05-01 11:45] glensc commented on #84
note: similar problem has arisen in the past, but no resolution: https://github.com/composer/composer/issues/5432#issuecomment-255669875

i.e, i think composer should make a deeper guess what is the current version in detached HEAD state.

[2019-05-01 12:44] Ocramius commented on #84
Seems like a bug for upstream

[2019-05-04 06:15] dwenzel opened #85 "Why merge packages and packages-dev?"
Why are packages from `packages` and `packages-dev` section of `composer.lock` being merged?

This prevents from reflecting the actual status of installed packages when the composer install command was called with `--no-dev` parameter.

I'd suggest to implement a method which respects the stability of packages or reflects the actual installation state by adding a flag.

(Unfortunatly the `PackageV

[2019-05-04 06:20] Ocramius commented on #85
`Versions::getVersion()` is designed to list installed dependencies, but just tell you the version of a well-known package you want to inspect.

Examples:

 * render the version of a CLI application
 * hash the current version into generated code
 * slam cache identifiers based on deployed application version

All of these work fine with a known package name.

The `require-dev` is map merged in by

[2019-05-04 06:20] #85 closed

[2019-05-05 23:18] kimpepper opened #86 "Long term support of 1.2.0"
We are considering using this library for Drupal core. See https://www.drupal.org/project/drupal/issues/3005229

However, Drupal 8.8.x requires a minimum of PHP 7.0. Would you consider long-term support of the 1.2.0 release branch?

[2019-05-06 00:02] Ocramius commented on #86
I'd only consider security fixes though

[2019-05-06 00:07] kimpepper commented on #86
That should be sufficient, I think? FYI Drupal 8 is EOL November 2021, so we need support until then.

[2019-06-12 11:36] Ocramius opened #90 "Test psalm annotations against a happy path/unhappy path static analysis test suite"
TODOs:

 * [ ] https://github.com/vimeo/psalm/issues/1881

[2019-06-18 13:58] staabm commented on #86
we would also love a 1.2.0 supported version, since we built on ubuntu lts and have to live with 7.0 until those boxes get updated to ubuntu20 in 2020

[2019-06-18 14:01] Ocramius commented on #86
Closing here: as mentioned in https://github.com/Ocramius/PackageVersions/issues/86#issuecomment-489474942, feel free to contact me for any security issues that may arise in older releases :+1:

[2019-06-18 14:01] #86 closed

[2019-06-18 14:26] Ocramius opened #92 "Failures on PHP 7.4 build due to `ReflectionType#__toString` deprecations"
[code]

[2019-06-18 17:23] #92 closed

[2019-06-19 10:14] staabm opened #94 "classes are generated twice on "composer update""
https://github.com/Ocramius/PackageVersions/pull/91 made sure we can now run `composer dump-autoload` to regenerate the package-versions.

it seems as a side effect this now leads to `composer update` (and I guess also `composer install`) generates the classes twice.

[code]

I dont have time to analyze it deeper right now, but wanted to leave it here in case someone else has a few minutes to fix

[2019-06-19 11:39] staabm commented on #86
In case someone else is interessted - we will maintain a fork for this lib with php7.0 compat: https://packagist.org/packages/complex/package-versions

[2019-06-19 12:21] Ocramius commented on #94
Hmm, wondering if that is a bigger issue, or if it can simply be skipped...

Also: maybe we should skip class generation overall during `install` or `update`, and only keep it when the autoloader is dumped?

[2019-06-21 10:37] #94 closed

[2019-06-30 14:24] Ocramius commented on #84
I'm gonna close here: this package does indeed not concern itself with `git rev-parse HEAD` semantics, so there's nothing that can be fixed on this end, sorry.

[2019-06-30 14:24] #84 closed

[2019-06-30 14:25] Ocramius commented on #90
This is now the last blocker to ship  `1.5.0`

[2019-07-02 11:56] glensc commented on #84
the upstream (composer) does not want to solve this. I think I've linked relevant discussions.

[2019-07-02 13:14] Ocramius commented on #84
Can't solve here either: we don't check the type of repository at all

On Tue, Jul 2, 2019, 13:56 Elan Ruusamäe <notifications@github.com> wrote:

[2019-07-11 15:52] markdza opened #97 "Plugin ocramius/package-versions could not be initialized, class not found: PackageVersions\Installer"
Tried to install another package which has a dependency on this one. When it tried to install it the following error came up

[code]

Also tried to do a direct install of this package by `$ composer require ocramius/package-versions`. Same error

Happened inside the Homestead v8 box (Ubuntu 18.04.2 LTS (GNU/Linux 4.15.0-54-generic x86_64))

[2019-07-11 15:59] Ocramius commented on #97
I'd need steps to reproduce this problem

[2019-07-11 17:46] markdza commented on #97
Steps:

1. On a windows 7 machine install latest versions of:
- https://www.vagrantup.com
- https://www.virtualbox.org

2. Set up Homestead v8 - https://laravel.com/docs/5.8/homestead

3. Set up a new Laravel project

4. Do `composer install` (I did `composer install -vvv` for below trace)

5. Error might show up (I'm not sure as I am already using an existing Laravel project)

[code]

[2019-07-11 18:04] Ocramius commented on #97
Closing here then: this is to be pushed into the homestead issue tracker first, as it seems to be a filesystem issue first (we discussed it in private via mail), and not of this project per-se.

As previously discussed in private, I believe that the homestead/vagrant setup may be using mixed `UID` depending on which operation is being performed.

[2019-07-11 18:04] #97 closed

[2019-07-16 23:10] VincentLanglet opened #98 "Plugin installation failed"
A friend started a project and get this error during the `composer install`.

![image](https://user-images.githubusercontent.com/9052536/61335097-8f6fb180-a82c-11e9-82d2-a6569d3b6402.png)

This is the repo to reproduce the bug:
https://github.com/ak3l/Cours_Symfony4/tree/bug

Instead following the actual README, do `composer install` without `--no-plugins --no-scripts` to get the error.

When I ru

[2019-07-17 04:08] Ocramius commented on #98
Duplicate of #97- please check that you aren't using mixed users when creating the `/home/vagrant/code/vendor` directory.

Operating with mixed `UID` on a linux system will indeed lead to files owned by separate users, and that will (by design) prevent separate users from editing each other's files unless they are in the same group and the files have group rights.

[2019-07-17 04:08] #98 closed

[2019-07-17 04:28] Ocramius commented on #90
As verified locally, this patch works, but vimeo/psalm#1881 improvements need to be implemented before re-evaluating this. Therefore, releasing this as-is for now.

[2019-07-17 07:24] VincentLanglet commented on #98
@Ocramius I dont have multiple user.
![image](https://user-images.githubusercontent.com/9052536/61355425-ae923180-a874-11e9-9372-08ef5a980521.png)

[2019-07-17 07:27] Ocramius commented on #98
Do you have a full trace for the error above?

[2019-07-17 07:49] VincentLanglet commented on #98
@Ocramius This is all I have:

![image](https://user-images.githubusercontent.com/9052536/61357252-2ada4400-a878-11e9-90d0-4057ca7699ce.png)

[2019-07-17 07:53] Ocramius commented on #98
And you run that with the `vagrant` user?

This is the second report of issues with homestead, so please report upstream on their end: something has been recently messed up there.

[2019-07-17 08:02] VincentLanglet commented on #98
Yes, I run `composer install` with the vagrant user.

I did report the issue on homestead too. But since I don't have knowledge about both vagrant & composer plugin, I wasn't sure if it was a homestead issue or an ocramius issue.

[2019-07-17 08:03] Ocramius commented on #98
From the trace above, there are files in there that aren't set up with the correct rights, so I suspect it's mostly a UID issue in how homestead runs CLI tasks.

[2019-07-17 10:58] glensc opened #100 "composer 2.0 support"
with composer 2.0 the install is rejected:

[code]

to test:
[code]

[2019-07-17 11:30] Ocramius commented on #100
That is correct: `composer-plugin-api` `1.0.0` is required.

[2019-07-17 11:30] #100 closed

[2019-07-17 12:15] glensc commented on #100
so, no plans to support composer:2.0 anytime soon?

[2019-07-17 12:45] PhilETaylor opened #101 "Cannot locate `composer.lock` nor `installed.json` when using package with `--no-scripts`"
[code]

Not acceptable to Fatal Error on a production site on a point upgrade ... way to go...

Lucky I silence errors, else your offensive language would be shown to my paying visitors too :(

**My composer.json and composer.lock are in the default places**, in the root of the project where they have always been.

**My vendor director is in the default place**, in the root of the project where co

[2019-07-17 14:09] Ocramius commented on #101
Hey there,

Besides that, the CI builds test `--no-scripts`, so I'd need a reproducer to get this reproduced and understand why it crashes for you.

[2019-07-17 14:15] profuel commented on #101
I feel that you had to make 2.0 release, since dropping PHP 7.2.0 s a major.

[2019-07-17 14:15] Ocramius commented on #101
Yep, seems like the `--no-scripts` CI entry is not testing what it's supposed to test

[2019-07-17 14:17] Ocramius commented on #101
@profuel bumping dependency versions is not a BC break, also not according to SemVer.

See also https://www.doctrine-project.org/2017/07/25/php-7.1-requirement-and-composer.html (to not repeat myself there).

[2019-07-17 14:17] Ocramius commented on #100
Once it's released, or at least once the `composer-plugin-api` is stable.

This problem applies to anything that is a plugin.

[2019-07-17 15:06] Ocramius commented on #101
Turns out that `getcwd()` may return an empty path in https://github.com/Ocramius/PackageVersions/blob/da0d9d34cd5df6b35756a00827aaeca7d903868d/src/PackageVersions/FallbackVersions.php#L63-L65

Rolling out a fix and release for it.

[2019-07-17 15:49] #101 closed

[2019-07-17 15:52] Ocramius commented on #101
Released as `1.5.1`

[2019-07-18 11:22] PhilETaylor commented on #101
Thanks for addressing this so quickly.

I can confirm, in my situation, v1.5.1 fixes the fatal error in production.

[2019-07-18 11:23] PhilETaylor commented on #101
And lastly, my docker instances are built on Alpine images... not sure if `getcwd()` does crazy things in Alpine, but thought I would mention the OS just in case that helps.

[2019-07-18 13:55] svpernova09 commented on #97
Hi @Ocramius!

Can you elaborate? Is this referring to the UID of the `vagrant` user in the VM?

(please feel free to ping me for Homestead questions, always happy to help rule out possibilities)

[2019-07-18 16:03] salcode opened #103 "Version 1.2.0 and PHP 7.0"
Thanks for sharing this great package. I think the required PHP version in release [1.2.0](https://github.com/Ocramius/PackageVersions/releases/tag/1.2.0) may be incorrect.

In the `1.2.0` version of [composer.json](https://github.com/Ocramius/PackageVersions/blob/1.2.0/composer.json) the required PHP version is `~7.0`

[code]

however the resulting code generated includes

[code]

and *Class cons

[2019-07-18 17:25] Ocramius commented on #103
Good point! Lemme go ahead and do that right away :+1:

[2019-07-18 17:50] Ocramius commented on #103
I just checked: 1.2.0 does generate `PackageVersions\Versions::VERSIONS`, but not `PackageVersions\Versions::ROOT_PACKAGE_NAME`:

https://github.com/Ocramius/PackageVersions/blob/ad8a245decad4897cc6b432743913dad0d69753c/src/PackageVersions/Installer.php#L32

`ROOT_PACKAGE_VERSION` was introduced in 1.3.0:

https://github.com/Ocramius/PackageVersions/blob/1.3.0/src/PackageVersions/Installer.php#L32

[2019-07-18 17:50] #103 closed

[2019-07-18 17:52] Ocramius commented on #97
See also #98

[2019-07-18 18:04] svpernova09 commented on #97
Thanks, I've been working through @VincentLanglet's Homestead issue (https://github.com/laravel/homestead/issues/1240) and have narrowed it down to be a specific Virtualbox bug (Issue doesn't appear with other providers, specifically Parallels so far).

In my own testing I'm running into the issue where composer goes to unzip the folder that was downloaded I get the message `caution: not extractin

[2019-07-18 18:10] Ocramius commented on #97
Not really: there is one specific code location generated by package-versions`, which is `vendor/ocramius/package-versions/src/PackageVersions/Versions.php`

The file is written by following code:

https://github.com/Ocramius/PackageVersions/blob/1d32342b8c1eb27353c8887c366147b4c2da673c/src/PackageVersions/Installer.php#L148-L151

[2019-07-19 09:55] Ocramius commented on #103
Na, just pin to `^1.2` and you are fine.

Please stop the proliferation of backports: they don't aid the ecosystem in moving forward.

[2019-07-19 11:35] clxmstaab commented on #103
please accept that the majority of people out there cannot update their php-version as you want them to.
we need the features of 1.3+ and since you push the min-php version so hard this does not work

[2019-07-19 11:41] Ocramius commented on #103
Want new features? Upgrade!

It's that simple.

Having a lot of backports only fragments thr ecosystem and allows people to be lazy about their upgrade policy.

There only legit reason to not have environments upgraded to 7.2 or 7.3 in 2019 is some ancient bug that cannot be easily fixed, and only works on older environments. Everything else is laziness, especially if you say "we need the new feat

[2019-07-19 11:50] clxmstaab commented on #103
thats your point of view.

on the other end there are LTS releases and companies who need to pay for servers and their migration when updating php

[2019-07-19 14:46] Ocramius commented on #103
LTS releases are in **feature freeze**: they don't get the newest and greatest stuff, and that's OK.

[2019-07-21 18:41] tarlepp opened #104 "changelog not updated"
It seems that eg PHP 7.2 support has been dropped, but changelog doesn't tell this at all. I'm assuming that changelog hasn't updated a quite long time, so why is that?

[2019-07-21 18:43] Ocramius commented on #104
True, haven't put it in changelog, but `comppser.json` is correctly filtering out `<7.2.0`.

Will add a line to the release notes.

[2019-07-21 18:43] #104 closed

[2019-07-21 18:47] Ocramius commented on #104
Btw, if you need release notes to be mirrored in `CHANGELOG.md`, please send a patch 👍

[2019-07-22 06:59] clxmstaab commented on #103
yes the php version is in feature freeze... doesnt mean all my libs and everything arround it is in feature freeze though

[2019-07-22 08:41] Ocramius commented on #103
That's what LTS means: you develop new stuff with **current stable**, you deploy old stuff with **old stable**.

See for example #86

Meanwhile, closing and locking here: not open for further discussion on the topic.

[2019-07-22 15:12] MarkVaughn opened #105 "Why drop php 7.2 support?"
Why did you drop php 7.2 support?
https://www.php.net/supported-versions.php 7.2 is still actively supported. This package is a dependency from phpstan and is breaking a lot of builds.

[2019-07-22 15:16] Ocramius commented on #105
Hey there,

I dropped 7.2 because newer releases are meant for current stable (7.3).

Besides that, previous releases work just as fine :+1:

PHPStan pins to [`jean85/pretty-package-versions:^1.0.3`](https://github.com/phpstan/phpstan/blob/3f2733c0486399efae835897314c205ccbf91b12/composer.json#L10), which locks onto [`"ocramius/package-versions": "^1.2.0"`](https://github.com/Jean85/pretty-package

[2019-07-22 15:16] #105 closed

[2019-07-22 15:18] Ocramius commented on #105
I'd check those builds: you are likely running `composer update` and `composer install` on respectively incompatible environments.

[2019-07-22 15:35] MarkVaughn commented on #105
I don't understand why the composer update uses version 1.5.1 instead of the locked version.

[2019-07-22 15:38] Ocramius commented on #105
@MarkVaughn if you run `composer update` on a machine with PHP 7.3, that's perfectly normal.

[2019-07-22 18:11] MarkVaughn commented on #105
I see the dev environment is 7.3 but the Docker images and Travis ci are 7.2

[2019-07-22 18:28] Ocramius commented on #105
You should tun `composer update` in your docker environment then 👍

[2019-07-24 14:20] kevinpapst commented on #105
@MarkVaughn I tripped into the same problem, but not with a dev dependency:
[code]

Using a platform in your composer helps to prevent that problem in the future:
[code]
A composer update will perform a downgrade with that:
[code]

[2019-07-24 14:35] cleptric commented on #105
@Ocramius Would you please consider releasing a new major if you make backwards compatibility breaking changes in the future? 🙂

[2019-07-24 14:43] Ocramius commented on #105
A bump in dependencies is not a BC break if the API signature and behavior of the library does not change due to those dependency upgrades.

 * See https://github.com/semver/semver/blob/d460299638d3d2af6fcf809285dc6a469e15742a/semver.md#what-should-i-do-if-i-update-my-own-dependencies-without-changing-the-public-api
 * See https://www.doctrine-project.org/2017/07/25/php-7.1-requirement-and-compose

[2019-07-24 21:20] MarkVaughn commented on #105
If nothing changed why bump dependencies when 7.2 is still active supported?

[2019-07-24 21:26] Ocramius commented on #105
I bump to latest release of all dependencies whenever I can

[2019-07-24 21:48] kevinpapst commented on #105
@Ocramius don't get me wrong, your repo your rules!
And actually I don't mind, its easy to workaround... but I just wonder: this package is at least a second-level dependency in thousands of projects (>22 million installations is a lot) and many of us will have to support 7.2 for some time. Through that dependency tree and support for 7.2 many apps relying on the large frameworks won't be able to

[2019-07-24 22:07] Ocramius commented on #105
Correct: they will have to upgrade dependencies. Besides that, 1.4.x works just fine

[2019-07-25 22:22] delirehberi opened #106 "breaks vendor folder statelessabilty."
Code in the below breaks the statelessability of vendor folder. I did face when I try to deploy my `sylius` project with `nixops`.
So, I can't deploy my project with use composer2nix package cause of that. Is there any option to configure this path or any plan about that?

https://github.com/Ocramius/PackageVersions/blob/1d32342b8c1eb27353c8887c366147b4c2da673c/src/PackageVersions/Installer.php#L1

[2019-07-25 22:45] Ocramius commented on #106
The path is supposed to be the same one as the class that acts as a fallback. I'm also interested in using nixops for this, but as a first workaround, you can use `--no-scripts` to rely on a slower version of `PackageVersions\Versions`

[2019-07-28 17:57] Ocramius commented on #106
@delirehberi to be clear: writing to `vendor/` is 100% a design decision I took while writing this package. `composer install` is a stateful operation, which is where I put this plugin.

[2019-07-28 18:50] delirehberi commented on #106
I get it,  its ok `vendor/` is stateful but in my opinion, a package folder inside the `vendor/` folder must be stateless. `composer install` process could modify only autoloader, static files, and cache-log folders.

[2019-07-28 18:56] Ocramius commented on #106
`composer install` should only be run if there is a `composer.lock` change - if that is true, then `PackageVersions\Versions` needs to change too.

The only location that is "owned" by this package is indeed `vendor/ocramius/package-versions`.

[2019-07-28 19:06] delirehberi commented on #106
`composer2nix` turns `composer.lock` file to independent nix-stores. I mean, every package had own hashed nix store folder and this folder mark as `readonly` after package installed. It causes permission denied error if any composer script tries to write a package folder.

I said before, every package folder inside `vendor/` must be stateless. Package installed, ok, don't touch this folder anymore

[2019-07-28 19:09] Ocramius commented on #106
I'd say "don't re-install on an already installed vendor" then?

This problem will occur with any script touching `vendor` BTW, so the underlying problem is not avoidable by just challenging this package's assumption: a reliable solution for storing build-time (deterministic, in this case) artifacts is needed.

[2019-07-28 19:10] Ocramius commented on #106
Basically, this library is a compile-time step: it is functionally pure (assuming same `vendor` dir, an equal `vendor/ocramius/package-versions/src/PackageVersions/Versions.php` is produced), but it does indeed need to write to that exact location, or another location that is in `vendor`.

It cannot write to other locations of the project, since everything else is completely obscure to the package

[2019-07-28 22:23] delirehberi commented on #106
Thanks for responses. It`s not a package specific problem. I write a blog post about that. https://emre.xyz/composer-is-not-a-builder

[2019-07-28 22:23] #106 closed

[2019-07-28 22:27] Ocramius commented on #106
It is very much a builder from my PoV: a designated build directory is missing, so you may bring that up upstream.

[2019-07-30 21:50] drewjoh commented on #105
Just to add some feedback:  This has bitten me also.  PackageVersions is a second (or third or fourth?) level dependency which I don't control.  We use Semaphore CI for testing before deployment, and Semaphore only supports up to PHP version 7.2.9 at this moment.

I've spent several hours already trying to see about manually having the build install the latest PHP in Semaphore, to no avail... so o

[2019-07-30 22:17] Ocramius commented on #105
If your CI is testing an environment that isn't production, your CI is indeed to be replaced. CI runs must be much closer to production runs, and it is a **good** thing that this package highlighted the issue in your CI setup.

To clarify for further readers (because I'm locking the thread):

# Run `composer update` only in production-compatible systems

You **MUST** run `composer update` on a sys

[2019-08-07 16:00] alexgit2k opened #107 "Unable to install on vboxfs"
The error has already been reported at #98, but the assumption that it is a permission / UID issue is wrong.

When installing under xfs it works without problems:
[code]

But when installing under vboxfs (Virtualbox, Windows) it fails:
[code]

The error-message ist:
[code]

Tested with Cent OS 7, PHP 7.3, composer 1.9.0-1.6.0

I can install many other packages without problems under the vbofs:
[co

[2019-08-07 19:54] Ocramius commented on #107
I'd need to have a reproducible test case for this to work: I no longer use vagrant/virtualbox either.

Since this started popping up a few weeks ago, with no vhanges to the filesystem operations in here, I suggest bisecting upstream first.

[2019-08-07 20:37] alexgit2k commented on #107
I am getting the same error also with the first version of package-versions
`composer require ocramius/package-versions:1.0.0`

I'll try to make a test case.

[2019-08-07 20:42] Ocramius commented on #107
Yeh, as I said, how files are written to disk barely changed here 😐

[2019-08-07 21:23] alexgit2k commented on #107
It can be reproduced with Windows 10, VirtualBox 6.0.10 + Extension Pack, Vagrant 2.2.5.

**Vagrantfile**:
[code]

**Commands**:
[code]

[2019-08-10 13:24] Ocramius commented on #107
Anyone got a windows environment where to try this out? I don't have such an environment myself...

[2019-08-10 13:35] alexgit2k commented on #107
I can reproduce it on 2 different PCs. Anything you want me to do?

[2019-08-10 13:37] Ocramius commented on #107
We probably need to test this in a windows environment on travis-ci (https://docs.travis-ci.com/user/reference/windows/)

[2019-08-10 18:20] alexgit2k commented on #107
VirtualBox/Vagrant is not running in travis-ci (see https://github.com/travis-ci/travis-ci/issues/6060#issuecomment-221395944).

[2019-08-13 14:28] Jalle19 commented on #107
Just stumbled upon this too after upgrading to PHP 7.3. Everything was fine as long as I used my existing `vendor` directory from an earlier installation where I used PHP 7.1, but as soon as I removed `vendor` and ran `composer install` this started happening again.

Vagrant + VirtualBox 6.0 + Ubuntu 18.04. There are no permission issues.

[2019-08-13 14:37] Jalle19 commented on #107
https://github.com/composer/composer/blob/master/src/Composer/Installer/PluginInstaller.php#L65 it all begins with this, but Composer unhelpfully swallows the exception message and trace.

[2019-08-13 14:44] Jalle19 commented on #107
I guess the real issue is that Composer gets all the way here: https://github.com/composer/composer/blob/dc964d6515f7e4d609b86ff5b2ba917e2550e783/src/Composer/Util/Filesystem.php#L137. It's supposed to be issuing an `rm -rf foo` but it fails for some inexplicable reason on contemporary VirtualBox installations. I love these problems...

[2019-08-13 14:48] Jalle19 commented on #107
More related stuff:

https://www.virtualbox.org/ticket/8761
https://www.virtualbox.org/ticket/15149
https://www.virtualbox.org/ticket/15897

[2019-08-13 14:57] Ocramius commented on #107
@Jalle19 thanks for digging into this! It seems like it is indeed affecting all of composer, not just this package :-\

[2019-08-14 08:43] Jalle19 commented on #107
I tried a ton of things and it turns out that downgrading VirtualBox to 6.0.4 fixes this problem. According to the CHANGELOG they "Linux guests: shared folder performance and reliability improvements and missing features (bugs #17360, #819)", which did exactly the opposite.

@alexgit2k I suggest you try downgrading to 6.0.4 in case it fixes the issue for you too.

@Ocramius you can close this IMO

[2019-08-14 11:01] Ocramius commented on #107
I'll leave it open for now: lots of folks landing here, instead of opening new issues.

[2019-09-11 11:36] LucidTaZ commented on #107
My coworker has this problem with VirtualBox 6.0.6, while I run VirtualBox 6.0.4 and have no issues. So I think you're onto something here.

[2019-09-17 13:36] alexgit2k commented on #107
In the latest version 6.0.12 of VirtualBox they fixed a regression introduced by the shared folder change in 6.0.6 (see https://www.virtualbox.org/ticket/18737). However I still get the same error in 6.0.12.

I reverted back to VirtualBox 6.0.4 where it works without problems and created a ticket at VirtualBox: https://www.virtualbox.org/ticket/18937

[2019-09-25 09:49] mw-jko commented on #107
We had the very same problem but with a boot2docker setup. We finally managed to solve the problem by upgrading to boot2docker 19.03.2 from 19.03.1

Boot2Docker 19.03.2 uses `VirtualBox Guest Additions v5.2.32`
Boot2Docker 19.03.1 uses `VirtualBox Guest Additions v6.0.10`

Maybe it's a red herring, but you should try to switch to the older guest extension, it works fine with VirtualBox 6.x.

[2019-09-25 11:46] Jalle19 commented on #107
@mw-jko according to the change log you posted they didn't just downgrade the guest extensions, they downgraded the whole VirtualBox.

[2019-09-25 11:48] mw-jko commented on #107
VirtualBox inside boot2docker-Iso does not make sense. Just check the changed lines:

[code]

[2019-09-25 12:07] Jalle19 commented on #107
Nevermind, you're right.

[2019-09-26 08:27] DivineOmega opened #108 "v1.5.0 release does not follow semver"
PackageVersions v1.5.0 dropped support for PHP 7.2. This is a breaking change and based on semver this should have been released as v2.0.0.

This is causing issues upgrading packages when running on lower PHP versions.

Example of the issue:

[code]

[2019-09-26 08:30] DivineOmega commented on #108
Please do correct me if I'm wrong. I realise I may be missing something here.

[2019-09-26 08:35] Ocramius commented on #108
Duplicate of https://github.com/Ocramius/PackageVersions/issues/105

Besides, bumping dependencies is not a BC break (not even in semver)

[2019-09-26 08:35] #108 closed

[2019-09-26 08:48] DivineOmega commented on #108
@Ocramius Thanks for referencing the duplicate issue. The links within in have increased my understand of this issue now. :+1:

[2019-09-26 08:51] Ocramius commented on #108
@DivineOmega thanks for taking the time to read them: please spread the good word :+1:

[2019-09-29 12:04] Einenlum opened #109 "No lockfile found, unable to read locked packages"
Hi. When I init a composer project with no dependencies and try to dump-autoload, I get this error and it seems it's involving this package:

[code]

Here is the composer.json:

[code]

Details about the installed version of `ocramius/package-versions`:

[code]

Creating this issue after [this one](https://github.com/composer/composer/issues/8336) was closed in the `composer/composer` repository.

[2019-09-29 13:01] Ocramius commented on #109
Hmm,  interesting: never thought of the use-case of `composer dump-autoload` without `composer install`.

Would you consider sending a patch stating that `composer install` is required first?

[2019-09-30 09:17] Einenlum commented on #109
Doing a `composer install` before does not solve the problem because `composer install` does not work either :/.

[code]

[2019-09-30 09:22] Ocramius commented on #109
Yeah, but why is that autoload generator being started before `composer.lock` is there?

[2019-09-30 09:24] Einenlum commented on #109
I have no clue.

[2019-09-30 09:26] Ocramius commented on #109
I suggest dropping your `~/.config/composer` and seeing if an old dependency in there is causing this.

Overall to be avoided: `composer global`

[2019-09-30 09:31] Einenlum commented on #109
Thanks, it works when deleting my `.config/composer` dir.

For the record, previous global composer.json and composer.lock:

[code]
[composer.lock](https://gist.github.com/Einenlum/3a9aa3b4a2b678801bf10610cc721bad)

[2019-09-30 09:31] #109 closed

[2019-10-18 17:43] Jean85 opened #110 "Probable race condition in post-install hooks"
This package is a a sub-sub dependency in `sentry/sentry`, and users are reporting issues while using the Laravel Sentry integration (`sentry/sentry-laravel`).

Users are reporting issues while installing: https://github.com/getsentry/sentry-laravel/issues/274 & https://github.com/getsentry/sentry-laravel/issues/284

As I already said in https://github.com/getsentry/sentry-laravel/issues/274#issue

[2019-10-18 18:03] Ocramius commented on #110
I don't think priority is supported by composer

[2019-10-29 09:40] MrMadClown commented on #110
Any Idea how to solve this Issue? We run into this problem in our CI environment, where we start without a vendor directory every time. Which basically is the solution from [getsentry/sentry-laravel#274](https://github.com/getsentry/sentry-laravel/issues/274#issuecomment-536663666).

[2019-10-29 09:41] Ocramius commented on #110
@MrMadClown no clue on how to solve this, sorry

[2019-10-31 12:12] MrMadClown commented on #110
Is this a composer issue then?
In my case, the install runs fine, it crashes after the composer Install. Once we start the PHPUnit tests.

[code]

[2019-10-31 12:15] Ocramius commented on #110
Yeah, that means that the script wasn't run at all, but also that `"sentry/sentry"` isn't in your `installed.json` or `composer.lock` (used by `FallbackVersions.php`)

[2019-10-31 12:24] MrMadClown commented on #110
Okay, scripts not running, that's something I can start to look into. The `sentry/sentry` package is in the `composer.lock` file and also gets installed. That's was throwing me off.

[2019-10-31 12:28] Ocramius commented on #110
Can you please open a separate issue? I think this one is unrelated with what's being asked here (hooks conflicting between laravel and this library - possibly upstream composer issue)

[2019-10-31 13:17] Jean85 commented on #110
Reported upstream with https://github.com/composer/composer/issues/8399

[2019-10-31 14:16] Ocramius commented on #110
@Jean85 note that `FallbackVersions` should still be able to detect `sentry/sentry`, so I think something else is also failing somewhere.

I suggest debugging `FallbackVersions` behavior in your environment, @MrMadClown.

[2019-10-31 14:30] Ocramius commented on #110
Note that `installed.json` takes priority, if located: maybe it's a dev-dependency?

[2019-10-31 14:37] Jean85 commented on #110
The original issues arise when running `composer require sentry/sentry-laravel`, so it's not a dev dependency. Is it possible that `installed.json` is written later in respect to the post-autoload-dump hook?

[2019-10-31 14:41] Ocramius commented on #110
That could be, yes. Reverting #95 could expose that.

[2019-11-12 10:03] Jean85 commented on #110
I've probably found the root cause, which was much simpler that I was expecting:

https://github.com/getsentry/sentry-laravel/issues/284#issuecomment-552804087

#82 is included in 1.5.0 only, which means that it's restricted to PHP ^7.3. The end user was probably using an older PHP version?

[2019-11-12 11:20] clxmstaab commented on #110
yeah.. we had several issues because of fixes in this lib are only available in pretty recent php-versions

[2019-11-13 22:12] Ocramius commented on #110
Can this be reproduced in isolation or in integration test? Otherwise I might close as "can't fix" here

[2019-11-13 22:12] #110 closed

[2019-11-14 08:13] Jean85 commented on #110
If I'll take a stab at backporting #82 to 1.4, would you be open to tag it as 1.4.1?

[2019-11-14 08:49] Ocramius commented on #110
Yep: should I create the `1.4.x` branch?

[2019-11-14 09:48] Jean85 commented on #110
Yes thank you, so I'll target the PR accordingly.

[2019-11-14 09:54] Ocramius commented on #110
`1.4.x` is open :-)

[2019-12-03 17:34] frickenate commented on #107
I will downgrade to 6.0.4 later (if composer is having problems with this, chances are other software will too).

**But...** if someone just wants a "make it work right now" solution for this specific bug:

1. You have to have `unzip` installed (eg. `apt install unzip`), so that composer will use that instead of php's `unzip` extension.

2. Assuming `which unzip` shows `/usr/bin/unzip`.

3. Assumi

[2019-12-04 17:36] Jalle19 commented on #107
@frickenate WTF nice hack, it works :D

[2019-12-08 19:22] bramus commented on #109
Same thing happens when running a `composer install` with a `composer.json` that has no dependencies _(cross-linking the https://github.com/composer/composer/issues/8336 issue)_

This scenario should be caught I guess, as it breaks basic workings of Composer: With an "empty" `composer.json`, Composer should create a `vendor` folder and a `composer.lock` file. With `ocramius/package-versions` globa

[2019-12-12 22:59] spider-mane commented on #108
I read the issue thread referenced and still I don't get your rationale on bumping versions in your composer.json. According to the official composer documentation:

 "`require` and `require-dev` also support references to specific PHP versions and PHP extensions your project needs to run successfully."

The way you explain it, you bumped the version essentially to dictate the version of php you t

[2019-12-12 23:09] Ocramius commented on #108
You are free to use older versions of the package, but I bump minimum versions for a number of reasons:

 1. I try to support only what I'm willing to install myself
 2. I do want to push the community forward
 3. I reduce the matrix of supported dependency permutations
 4. I reduce the number of tested dependency permutations
 5. I do like to play with newer shinier dependencies (and if I don't b

[2019-12-13 00:00] spider-mane commented on #108
My apologies if I came across harshly, I'm not asking you to do anything your not willing to do, it's entirely up to you. I was only making a suggestion, and trying to provide as detailed an explanation for that suggestion as I can. I agree that pushing the community forward is important. This is just the first time I've encountered a php version constraint being set specifically for that purpose.

[2019-12-13 11:33] Ocramius commented on #108
I know it feels like a kick in the teeth, but I had a lot of people learning how `composer update` works through my packages :D

[2020-01-20 13:24] scaytrase opened #116 "FallbackVersions uses this package lock which breaks version checks"
In some cases `PackageVersions\Versions`  does not have version for package being checked:

* In case of package `replaces` and `provides` (i.e symfony/symfony replaces symfony/process)
* In case of `--no-scripts` was used while doing `composer install` (for security reasons)

These are different cases which exposes differently, but the root cause is `FallbackVersions` using this package `composer

[2020-01-20 17:05] Ocramius commented on #116
Isn't this true also for the generated `PackageVersions\Versions` class?

In fact, asking for the version of `foo/bar` when `foo/bar` is not installed at all (and is instead replaced by something else) seems to be incorrect.

Can this be reproduced in isolation with a test?

See https://github.com/Ocramius/PackageVersions/blob/c4b240dfe1106a1306e321e9c9c691e1baadaae0/test/PackageVersionsTest/E2EIn

[2020-01-20 18:13] scaytrase commented on #116
I'll try to dig into these tests. Actually problem raises only with packages that are in require-dev of this lib (or transtive to them)

[2020-01-20 18:15] Ocramius commented on #116
You can go wild with repository definitions, as long as we isolate
everything to a tiny example, heh.

On Mon, Jan 20, 2020, 19:13 Pavel Batanov <notifications@github.com> wrote:

[2020-01-20 20:27] scaytrase commented on #116
Well, looks like I succeeded in reproducing this.

I've created two repos simulating dependencies
https://github.com/scaytrase/package-versions-main-stub
https://github.com/scaytrase/package-versions-sec-stub

I've created the test that uses them (commit is very dirty, tbh and contains some debug changes, like output)

https://github.com/Ocramius/PackageVersions/commit/d484081cfbd8b1013ee1726a1758

[2020-01-22 17:45] ramsey commented on #107
I was able to reproduce this on macOS Catalina with VirtualBox 6.0.15 r135660 and Vagrant 2.2.6. Here are the steps to reproduce:

[code]

Then, inside the VM:

[code]

You should see this output:

[code]

It's important to note that this error only occurs when trying to install `ocramius/package-versions` in a directory that is shared with the host environment. If I try to `composer require ocram

[2020-01-22 17:48] ramsey commented on #107
If I try the unzip hack described by @frickenate, I get a different error:

[code]

[2020-01-22 18:07] ramsey commented on #107
I found a solution that works for me...

If you change the `synced_folder` type to `rsync`, then you're able to install this package, since the folder is still technically local to the VM. If you choose to go this route, be sure to [read up on how rsync behaves with Vagrant](https://www.vagrantup.com/docs/synced-folders/rsync.html), since the folders are not synchronized in real time. For my purpo

[2020-01-22 21:14] frickenate commented on #107
FYI, my unzip workaround was a temporary “make this work right now” hack. The correct solution to this problem, which I enacted the next day, is to downgrade to VirtualBox 6.04. This resolves the issue, as the behaviour/bug was introduced in VirtualBox 6.0.6 and hasn’t yet been fixed in any later 6.x or 7.x version.

[2020-01-27 13:29] Ocramius commented on #116
Can you send the branch you created in as a PR? I'd like to discuss it line-by-line, when I get to work on it

[2020-01-27 13:33] scaytrase commented on #116
Sure #117 here it is. I hope draft state won't prevent it from discussion. just to mark it's dirty

[2020-02-28 14:36] soullivaneuh commented on #116
Is there any workaround about this? I'm trying to run dependencies installation without script on Docker for cache perf improvements:

[code]

But I ran onto the same issue, becaue of `--no-scripts`.

[2020-02-28 14:42] Ocramius commented on #116
@soullivaneuh I suggest helping out on #117.

[2020-03-04 15:35] soullivaneuh commented on #116
@Ocramius I was just asking if an alternative exist waiting this PR, but thanks, I'll take a look when I'll have the time. :+1:

[2020-03-05 10:39] simonihmig opened #119 "Handle missing source reference gracefully"
When there is no `.git` data available (e.g. docker setup with only a subfolder of the repo as the shared volume), the version of the root package is returned as something like `1.0.0@`
https://github.com/Ocramius/PackageVersions/blob/5be0adfef1e5c5708b8584ff348d3e0a29ff1c2a/src/PackageVersions/Installer.php#L207

I wonder if this shouldn't be handled more gracefully, to detect the empty `$rootPac

[2020-03-05 10:43] Ocramius commented on #119
the `@` is intentional, and downstream packages depend on it. If you need the version to be "pretty", I suggest using https://github.com/Jean85/pretty-package-versions instead :+1:

[2020-03-05 10:43] #119 closed

[2020-03-05 10:45] simonihmig commented on #119
Got it, thanks for the quick feedback! 🙏

[2020-03-05 11:53] ItayPodhajcer opened #121 "PHP Parse error in ocramius/package-versions (1.6.0)"
Hi,

Just ran an automated build which runs composer as part of the pipeline and got the following error:

`Parse error: syntax error, unexpected 'string' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST) in /soruce/vendor/ocramius/package-versions/src/PackageVersions/Installer.php on line 34`

Compsoer was trying to install `ocramius/package-versions` version 1.6.0 when the error occ

[2020-03-05 11:56] Ocramius commented on #121
Duplicate of #105 - see https://github.com/Ocramius/PackageVersions/issues/105#issuecomment-516617164

[2020-03-05 11:56] #121 closed

[2020-03-05 14:00] teohhanhui opened #122 "PHP Parse error: syntax error, unexpected 'string' (T_STRING) ..."
[code]

Not this package's fault, but SymfonyInsight and Scrutinizer seem to use `--ignore-platform-reqs`, so the release of the latest version has caused them to break lol

[2020-03-05 14:01] teohhanhui commented on #122
Duplicate of #121

[2020-03-05 14:01] #122 closed

[2020-03-05 14:02] Ocramius commented on #122
Fun stuff :D

[2020-03-05 15:14] tems99 opened #123 "Version 1.6.0 breaks dependencies"
The 1.6.0 release sets the minimum version to PHP to 7.4.

This causes errors in composer install for libraries that depend on this that use ^ in composer.
One of the packages in doctrine/common includes this library.

Maybe bump to v2?

[2020-03-05 15:18] Ocramius commented on #123
Duplicate of #105

[2020-03-05 15:18] #123 closed

[2020-03-05 15:19] Ocramius commented on #123
Please also read carefully: https://github.com/Ocramius/PackageVersions/issues/105#issuecomment-516617164

[2020-03-05 18:35] igormukhingmailcom opened #124 "scrutinizer-ci.com fails: unexpected 'string' (T_STRING) in src/PackageVersions/Installer.php on line 34"
This is a hint for users coming from google...

As **Scrutinizer** can use php version less than 7.4 by default, you can have next exception:

[code]

Example: https://scrutinizer-ci.com/g/Setono/SyliusTrustpilotPlugin/inspections/e4dcd104-7acf-441a-b6b7-d7275213477b

To fix that, just add next lines to your `.scrutinizer.yml`:

[code]

[2020-03-05 18:35] #124 closed

[2020-03-05 18:37] Ocramius commented on #124
Thanks @igormukhingmailcom!

[2020-03-06 10:24] JoshuaCHolden opened #125 "Issue with installer.php"
Hello, My apologies if the naming is incorrect this is the first issue I have raised on git hub, I am encountering the following error in my project when I try to composer install

Parse error: syntax error, unexpected 'string' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST) in /var/www/vendor/ocramius/package-versions/src/PackageVersions/Installer.php on line 34
ERROR: Service 'web

[2020-03-06 10:26] Ocramius commented on #125
Duplicate of #105 - please read entire thread.

[2020-03-06 10:26] #125 closed

[2020-03-06 10:29] Ocramius commented on #125
BTW, your problem is `--ignore-platform-reqs` - don't ignore those ;-)

[2020-03-06 11:50] JoshuaCHolden commented on #125
Thank you so much for this! Much appreciated this fixed my issue

[2020-03-06 12:48] abarke opened #126 "v1.7.0 PHP Parse error Installer.php on line 34"
$ composer update

Installing ocramius/package-versions (1.7.0): Cloning 651c372efc from cache

PHP Parse error:  syntax error, unexpected 'string' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST) in ...\vendor\ocramius\package-versions\src\PackageVersions\Installer.php on line 34

[2020-03-06 12:49] Ocramius commented on #126
Duplicate of #105: please read the full thread

[2020-03-06 12:49] #126 closed

[2020-03-07 19:49] Awilum opened #127 "TEST SETUP FAILED on scrutinizer-ci with new ocramius/package-versions"
From today, I have this issue for my project [flextype](https://github.com/flextype/flextype) on  scrutinizer-ci

TEST SETUP FAILED

[code]

https://scrutinizer-ci.com/g/flextype/flextype/inspections/b2ec6196-ed78-4e9e-bf69-40814bcb57e3

Any ideas why it is failed and how to fix this ?

[2020-03-07 19:51] Ocramius commented on #127
See #124

[2020-03-07 19:51] #127 closed

[2020-03-09 07:53] moeinpaki opened #129 "Parse error: syntax error, unexpected 'string' (T_STRING)"
Hi there,

I get this error from 3 days ago on the composer install

Parse error: syntax error, unexpected 'string' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST) in app/vendor/ocramius/package-versions/src/PackageVersions/Installer.php on line 34

[2020-03-09 07:55] kmgalanakis commented on #129
Same here!

[2020-03-09 08:08] Ocramius commented on #129
Duplicate of #105

[2020-03-09 08:08] #129 closed

[2020-03-09 08:14] Ocramius commented on #124
Linking as duplicate of #105

[2020-03-09 08:38] moeinpaki commented on #129
my PHP version

PHP 7.3.11 (cli) (built: Dec 13 2019 19:21:21) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.3.11, Copyright (c) 1998-2018 Zend Technologies

is there any other thing wrong with that?

[2020-03-09 08:42] Ocramius commented on #129
Yes: this package requires PHP 7.4.

If you want to use PHP 7.3, you need o rely on version 1.5.* of this package (which supported PHP 7.3)

[2020-03-10 00:02] freezy-sk commented on #124
Scrutinizer by default run composer install with `--ignore-platform-reqs`.
So if you want to run Scrutinizer with lower or multiple versions of PHP, you can do it with these lines in your `.scrutinizer.yml`:

[code]

[2020-03-10 21:04] i-kitchen opened #131 "syntax error, unexpected 'string' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST)"
Hello!

Was running a pipeline and it keeps failing at the step where I run:
`composer install --no-interaction --no-dev --optimize-autoloader --no-progress --no-suggest --ignore-platform-reqs`

The full error:
[code]

Is this a bug that was pushed out with this release or am I using a flag that is incompatible with the current release?

Thanks for your time!

[2020-03-10 21:11] i-kitchen commented on #131
Nevermind I see from previously closed issues what the problem is.

[2020-03-10 21:11] #131 closed

[2020-03-10 21:15] Ocramius commented on #131
Duplicate of #105

[2020-03-26 17:15] Dwarfex commented on #107
I ran into this problem aswell - my solution was removing the vendor folder and do: "composer install --no-scripts --no-custom-installers"  which worked for me.

[2020-03-27 08:20] ram4nd opened #132 "Braking changes"
Releases after 1.5.1 require PHP 7.4. That may cause issues. In sentry there is dependency of this package and dependency loading requires version "^1.2.0". So since 1.7.0 was released sentry also requires PHP 7.4. The solution would be to release 1.7.0 and newer with new major release "2.0.0" since it has breaking changes for people with PHP 7.3.

I hope you get the issue from this description.

[2020-03-27 08:34] Ocramius commented on #132
Duplicate of #105

[2020-03-27 08:34] #132 closed

[2020-03-30 02:26] agus-k commented on #107
I'm using bento/ubuntu-18.04 image. Downgrading Virtualbox alone didn't help, in my case. I found that downgrading the Virtualbox Guest Addition helps. I downgraded both Virtualbox and Guest Addition to version 6.0.0.

I found the following gist on how to downgrade the Guest Addition:
https://gist.github.com/claudiobizzotto/67dfcf66ebffca58b1075123c2e898f8

You'll need gcc, make and perl packages

[2020-04-03 18:54] millsoft opened #134 "Broken composer after update"
Hi,

today I performed a composer update and some libraries were also requiring PackageVersions.
After the install I can't use composer anymore. If I execute composer I get this:

[code]

I am using php 7.3:

[code]

Composer:
[code]

I tried this on multiple machines with similar configuration (all with php 7.3)
To downgrade I need to remove the vendor directory, revert previous composer.lock and

[2020-04-05 22:31] Ocramius commented on #134
Potentially duplicate of #105

On Fri, Apr 3, 2020, 20:54 Michael M <notifications@github.com> wrote:

[2020-04-06 17:37] Ocramius opened #135 "Drop support for Composer 1.x once stable"
See #133

The added code should be dropped once stable `composer/composer:2.0.0` is out.

[2020-04-06 17:39] Ocramius commented on #134
Yep, indeed a duplicate of #105 - the fact that you managed to install `ocramius/package-versions` on a PHP 7.3 system indicates that you probably used `--ignore-platform-reqs`.

[2020-04-06 17:39] #134 closed

[2020-04-06 21:09] flack commented on #134
the same happened to me today in Symfony Insight:

https://insight.symfony.com/projects/90006b57-00fb-41c8-a4f0-18cbbfdf6305/analyses/766?status=violations#850409792

in your opinion, is this a configuration error on their end (I use their default configuration, whatever that might be)? I find it hard to believe that they would use `--ignore-platform-reqs`, especially since there was never any pro

[2020-04-06 21:14] Ocramius commented on #134
Yeah, needs fixing on that end: installing without platform requirements is
asking for trouble in general.

On Mon, Apr 6, 2020, 23:10 flack <notifications@github.com> wrote:

[2020-04-08 04:49] necmettin opened #137 "'private static string' in installer.php"
Is this not an error? Am I missing something?

`private static string $generatedClassTemplate = <<<'PHP'`

And the error message:
`Parse error: syntax error, unexpected 'string' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST) in vendor/ocramius/package-versions/src/PackageVersions/Installer.php on line 33`

[2020-04-08 10:20] Ocramius commented on #137
Duplicate of #105

BTW, indeed, it could be a `private const` :+1:

[2020-04-08 10:20] #137 closed

[2020-04-20 12:38] Taluu opened #138 "src/Packages/Versions.php changes detected in composer install"
Even though `/src/Packages/Versions.php` is in the `.gitignore`, for some reasons changes are still detected when I go into `vendor/ocramius/package-versions` and thus through composer install which asks me each time to discard or not changes (which I happily do) when updating this package.

But, sometimes I can't do that as I need to do it automatically, and running with `--no-interaction` is not

[2020-04-20 13:21] Ocramius commented on #138
Hmm, this probably happens with source installations (rare, although possible)

[2020-04-20 13:25] Taluu commented on #138
This happens a lot with phpactor on my vim installation, and it is not ran with `--prefer-dist` so I guess it picks source by default indeed.

[2020-04-20 13:28] Ocramius commented on #138
The default picks the downloadable package if you don't have `zip` or `ext-zip` installed, or if you use `--prefer-source`

[2020-04-20 13:37] Taluu commented on #138
Hum, I do have the `ext-zip` extension and `zip` installed and I don't use `prefer-source` nor do I have any config in composer asking to prefer using `--prefer-source` (which I prefer TBH so it kind of arranges me), but I do have in the vendor folder on this project (and others) a git history on each packages.

I don't if I use `--prefer-dist` though.

[2020-04-20 16:46] xxorax commented on #138
I confirm there is NO `.gitignore` after installing it by composer.

[2020-04-20 17:05] Taluu commented on #138
There's one, it's just somehow ignored by git

[2020-04-24 15:01] Ocramius opened #139 "Deprecate package in favor of `composer-runtime-api`"
See https://github.com/composer/composer/pull/8803

We can likely drop most of the contents of this library if we pin to `composer/composer:^2`.

After that, the library can be marked as security-only, and `PackageVersions\Versions` no longer needs to be generated, but rather relies on composer's built-in mechanisms.

Supersedes #135

[2020-05-16 13:26] NiklasBr commented on #137
My composer requires looks like this:

[code]

And now I get the same error as above:

[code]

Please consider being more kind to us ancient PHP 7.2 users!

[2020-05-16 13:28] Ocramius commented on #137
please read the thread in #105, @NiklasBr: you probably aren't using `composer update` as you should.

[2020-05-16 13:48] NiklasBr commented on #137
I did. I'm just asking to play nice with PHP 7.2 -- a version which is still actively supported and updated. _Your repository. Your rules. One hundred percent._ But really, using `composer update` is not the correct way to update Composer dependencies according to you?

[2020-05-16 13:49] Ocramius commented on #137
not if you run the `composer update` on a system that isn't production-alike: I described that in the referenced issue, and you will be bitten again by it if you don't fix that.

[2020-05-16 13:55] NiklasBr commented on #137
It was simple to resolve, I hope you can accept my PR.

[2020-05-16 13:58] necmettin commented on #137
I know we don’t get a say in this but please make the code php7.2 compatible. This could easily be avoided by removing a single word, which changes nothing end-result-wise.

[2020-05-16 14:03] Ocramius commented on #137
hey there, the code requires PHP 7.4, and that's the end of the story.

[2020-05-16 14:10] Ocramius commented on #137
BTW, there are stable releases that support even older PHP 7.x  versions.

[2020-05-24 19:10] qurben opened #142 "Option to ignore version of rootPackage"
We depend on a package which depends on this package. We noticed that `Versions.php` updates for every version we put out, even when the changes in our repository are not part of the deployed code.

We would like to see that if we don't change our `composer.lock` file or add/remove/rename php files, the contents of `vendor` do not change.

Is there a way to disable generating versions for the root

[2020-05-24 19:32] Ocramius commented on #142
Heya,

Not sure why that would be necessary?

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Sun, May 24, 2020 at 9:10 PM Gerben Oolbekkink <notifications@github.com>
wrote:

[2020-05-24 19:43] qurben commented on #142
It produces noise in our deployment setup, every commit is also a change in `Versions.php`, but we rather not remove `Versions.php` altogether as this might break something we depend on.

If there is a nice way to configure this it would be very nice, else we would just script something to remove the line after it is generated.

[2020-05-24 20:20] Ocramius commented on #142
If you are OK with running with an outdated `vendor`, you can run
installation with `--no-scripts` at the cost of some runtime performance
down the line if version resolution is required.

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Sun, May 24, 2020 at 9:43 PM Gerben Oolbekkink <notifications@github.com>
wrote:

[2020-06-11 05:42] SmartGuyy commented on #107
Just checked @agus-k solution and it works fine for me.

[2020-06-18 13:58] zonuexe opened #145 "Conflicts Composer 2.x in PHP 7.3"
Conflicts occur when installing packages that depend on `ocramius/package-versions` with PHP 7.3 or below and Composer2. (ex: https://github.com/phpactor/phpactor/issues/1080)

The last `ocramius/package-versions` version for PHP 7.3 is **1.5.1**, but this version does not support `composer-plugin-api:2.0.0`.

Can you apply https://github.com/Ocramius/PackageVersions/pull/133 to 1.5.1?

[2020-06-18 14:02] Ocramius commented on #145
Heya, #133 is out of question. Upgrading to PHP 7.4 is the lowest resistance path, and also the reason why I keep dependencies this strict :-)

For now, working on #143 to move this package to `composer/composer:^2` and `php:^7.4.7`

[2020-06-18 14:03] #145 closed

[2020-06-18 14:24] zonuexe commented on #145
That's right, I and you share the idea that the latest PHP and Composer are the best solutions.
However, PHP7.3 is still used in the real world, and the life for security support is one and a half years left.
Your package is trusted by QA tools like Psalm and Phpactor, and I believe it is worth removing the conflict with 7.3.

I will not make any further claims to you on this matter. Thank you for

[2020-06-18 17:01] Ocramius commented on #145
Those packages can use any of the `1.x` releases - composer 2.0 is still in alpha.

[2020-07-11 19:39] Ocramius commented on #139
This can be done in `2.0.0`, once we can get rid of `PackageVersions::ROOT_PACKAGE_NAME` completely

[2020-07-11 19:39] Ocramius commented on #135
Implemented in #146

[2020-07-11 19:39] #135 closed

[2020-07-11 19:40] Ocramius commented on #142
This will be implemented in https://github.com/Ocramius/PackageVersions/milestone/22

[2020-07-11 19:42] Ocramius commented on #138
Requires #139

[2020-07-11 19:42] Ocramius commented on #116
Worked around by #146, which effectively removes the offending code.

[2020-07-11 19:42] #116 closed

[2020-07-11 19:43] Ocramius commented on #107
This issue will disappear once #139 is implemented: at that point, this library should no longer write to disk during `composer install` steps

[2020-07-11 19:44] Ocramius commented on #90
This is no longer necessary: as per #146, we no longer have a pre-compiled map of dependencies.

[2020-07-11 19:44] #90 closed

[2020-07-13 18:27] alexander-schranz opened #147 "Fatal error Undefined class constant 'VERSIONS'"
There seems to be accidentally a bc break introduced in https://github.com/Ocramius/PackageVersions/pull/146/files/df8ee422f3f361420e35db8ba57a1d5799c995b0#diff-1240b8c874ee2d72c077a8c3401fede3. Where the VERSIONS constant not longer exist which is access by the [proxy-manager](https://github.com/Ocramius/ProxyManager/blob/2.8.0/src/ProxyManager/Generator/Util/IdentifierSuffixer.php#L50) in the ne

[2020-07-13 18:28] Ocramius commented on #147
Not a BC break: if the error occurs in `ocramius/proxy-manager`, it is relying on an `@internal` detail, and that must be fixed downstream.

[2020-07-13 18:33] alexander-schranz commented on #147
closed in favor of https://github.com/Ocramius/ProxyManager/issues/617

[2020-07-13 18:33] #147 closed, assigned to alexander-schranz

[2020-08-17 10:19] stof opened #148 "Support for Versions::ROOT_PACKAGE_NAME is broken"
`Versions::getVersion(Versions::ROOT_PACKAGE_NAME)` is expected to return the version of the root package.
But currently, the implementation forwards such call to `Composer\InstalledVersions::getVersion()` directly, which does not support the root package as package name. Info about the root package is exposed through `Composer\InstalledVersions::getRootPackage()`

[2020-08-17 10:49] Ocramius commented on #148
I think `Versions::ROOT_PACKAGE_NAME` should be overall deprecated (https://github.com/Ocramius/PackageVersions/issues/142, https://github.com/Ocramius/PackageVersions/issues/139)

[2020-08-17 12:27] stof commented on #148
sure. But in the meantime, it should still work. for now, there is no way to get the info about the root package anymore in this library.

[2020-08-17 12:29] Ocramius commented on #148
Hmm, wait, so `Composer\InstalledVersions::getVersion()` has no root package info **at all**?

[2020-08-17 12:34] stof commented on #148
`Composer\InstalledVersions::getVersion()` is only about packages installed in vendors (same than `Composer\InstalledVersions::isInstalled()`.
The info about the root package are available through a separate `Composer\InstalledVersions::getRootPackage()` method.

[2020-08-17 12:41] Ocramius commented on #148
I see, makes sense. Will indeed need some trickery to work :-\

[2020-08-17 13:23] stof commented on #148
Well, I think this could look like this:

[code]

[2020-08-18 10:21] Ocramius commented on #148
This seems to be only affecting the "fallback" version, when `'unknown/root-package@UNKNOWN'` is used for a lookup. Not a massive fix though :-)

[2020-08-18 10:30] #148 closed, assigned to Ocramius

[2020-08-21 10:12] windaishi opened #152 "Ocramius/PackageVersions is not compatible with composer configuration "lock: false""
Composer has introduced the option to disable the lock file. This is helpful for libraries (for example). See: https://getcomposer.org/doc/06-config.md#lock

When the lock file is disabled but composer installs `ocramius/package-versions` because it is somewhere in the dependency graph, composer will fail with the following error message:

[code]

Of course it fails, because the lock file is missi

[2020-08-21 10:56] Ocramius commented on #152
A possible solution (related: https://github.com/Ocramius/PackageVersions/issues/101) is to install with `--no-scripts`, which defeats the purpose of this package, but solves your immediate woe.

When installing with `--no-scripts`, if `composer.lock` cannot be found, the package already falls back to trying to read `installed.json` (or the other way around: can't remember clearly).

Two considera

[2020-08-21 11:06] Ocramius opened #153 "Add replacement method to get rid of the `PackageVersions\Versions::ROOT_PACKAGE_NAME` constant"
Addresses https://github.com/Ocramius/PackageVersions/issues/139#issuecomment-657118021

By having a smooth migration from `PackageVersions\Versions::ROOT_PACKAGE_NAME` to, for example, `PackageVersions\Versions::rootPackageName()`, we can get rid of the last bit of generated code in this library once moving to `2.0.0`, by just dropping the `PackageVersions\Versions::ROOT_PACKAGE_NAME` constant.

[2020-08-21 11:31] windaishi commented on #152
Hey, thanks for you fast reply!

Thanks for the hint! Currently we do not have to workaround the problem in this particular case, as it appeared only because of another problem. Anyway, I think this is a bug that should be fixed and therefore I reported it ;). This is also the reason why it is totally okay for us, that this is not fixed immediately.

In case someone has the same problem and stumbl

[2020-08-21 12:16] #153 closed, assigned to Ocramius

[2020-08-21 16:00] Ocramius commented on #139
Potentially to be done in `2.1.0` or later.

[2020-08-21 16:00] #152 closed, assigned to Ocramius

[2020-08-21 17:10] GrahamCampbell opened #157 "Packages need not have a reference"
[code]

[code]

Using version 2.0.0 of this package. The code in `getVersion` tries to concat `null` to a string, and leaves a trailing at sign.

Expected behaviour: for null to be tested, and the `@` to be omitted too.

[2020-08-21 17:23] Ocramius commented on #157
The missing ref used to be an empty string also before, afaik (expected). Usually happens when no `git` information is available, for example in a root package.

[2020-09-04 14:33] Ocramius commented on #157
Closing here: this is expected behavior that didn't change in a loooooooong time.

[2020-09-04 14:33] #157 closed, assigned to Ocramius

[2020-10-15 12:14] ItIsInspiring opened #159 "I can't update composer anymore"
Hi Ocramis,
i am a junior developer. I am not sure to use properly the conventions "how to create an issue" but since this morning, i can't use composer anymore from my laravel6/homestead project.

I have this message in my terminal

`PHP Fatal error:  Constant expression contains invalid operations in /Users/USER/www/PROJECT/vendor/ocramius/package-versions/src/PackageVersions/Installer.php on li

[2020-10-15 15:05] Ocramius commented on #159
Hey @ItIsInspiring!

I think what happened is that you ran a `composer update` from an environment running a newer PHP version.

Here's what you could do:

 1. `rm -rf vendor` (this is generally OK, unless you have sensitive stuff in there, but you really shouldn't!)
 2. `composer update ocramius/package-versions` from **within** your VM

That should align the version of `ocramius/package-versions

[2020-10-21 11:57] sagarppanchal opened #160 "ls"

[2020-10-21 12:49] #160 closed, assigned to Ocramius

[2020-10-21 12:50] Ocramius commented on #159
Closing here due to no feedback.

[2020-10-21 12:50] #159 closed, assigned to ItIsInspiring

[2020-10-22 08:31] ItIsInspiring commented on #159
Oh sorry,
Thank you for you advices. It did not work the frist time i tried, but somehow, it is working now...
Thanks for your help.

[2020-10-22 13:58] Ocramius commented on #159
@ItIsInspiring no worries, glad it worked out in the end :-)

[2020-11-30 12:21] Ocramius commented on #139
Decided that package is not to be deprecated: `composer-runtime-api:^2` seems to break regularly, so having this package to at least test it regularly is not a bad idea.

In addition to that, this package at least provides a @psalm -friendly API exposing purity markers and guarantees on return types.

[2020-11-30 12:21] #139 closed

[2020-12-16 17:45] Phalconline opened #163 "Error at version 1.9 when I run composer update"
Composer version 1.10.8 2020-06-24 21:23:30

![image](https://user-images.githubusercontent.com/3986432/102385899-13583b00-3fd7-11eb-9cbd-6cd095234340.png)

[2020-12-16 18:28] Ocramius commented on #163
You are most likely running `ocramius/package-versions` on a system with an older PHP version.

`1.9.0` requires PHP 7.4:

https://github.com/Ocramius/PackageVersions/blob/94c9d42a466c57f91390cdd49c81313264f49d85/composer.json#L13

[2020-12-16 18:28] #163 closed, assigned to Ocramius

[2020-12-27 13:31] bilogic commented on #107
I suspect the root cause to be in VirtualBox's `vboxsf`, nothing to do with vagrant/composer/etc. Better to tackle it here https://www.virtualbox.org/ticket/8761

[2021-01-07 22:56] excennfahnfah1976 commented on #100
Hoi,
I'm getting this error when i try to update my application pakkages:

composer update
The "ocramius/package-versions" plugin was skipped because it requires a Plugin API version ("^1.0.0") that does not match your Composer installation ("2.0.0"). You may need to run composer update with the "--no-plugins" option.
Loading composer repositories with package information
Updating dependencies
You

[2021-01-07 22:57] excennfahnfah1976 commented on #100
Is there a plan to upgrade to version 2?

[2021-01-07 23:27] Ocramius commented on #100
This package already supports `composer/composer:^2` in its newer released, but you do indeed need to upgrade to PHP 7.4+ first, since PHP 7.3 support has been dropped well over a year ago.

[2021-01-11 20:57] Jean85 opened #165 "Replace rule is too wide"
This was originally reported as https://github.com/Jean85/pretty-package-versions/issues/29

The issue is in this snippet:

https://github.com/Ocramius/PackageVersions/blob/2.4.x/composer.json#L25

The current `replace` rule is a bit overreaching, since it also replaces the 1.x version of that package. I'm reporting this for documentation, since I fear that, as of now, with already tagged and rele

[2021-01-11 21:03] Ocramius commented on #165
Yes, that's intentional: I pretty much stopped caring, because of overly-aggressive third parties that I have no interest in aiding.

In practice, the API of this package is defined by this package, not by the deprecated substitute.

[2021-01-11 21:03] #165 closed, assigned to Ocramius

[2021-01-11 21:06] Ocramius commented on #165
Let me rephrase: I did this intentionally.

The correct approach is to require `ocramius/package-versions`, then add `composer/pqckage-versions-deprecated` if there is a need to run composer v2 on ancient php versions (bad idea, IMO)

[2021-01-25 16:38] wmertens opened #166 "Can't build ocramius/package-versions in nixpkgs"
I'm trying to package uvdesk, which is based on doctrine, which seems to use this package. I used composer2nix to generate expressions, and when I try to build I get this error:

[code]

Any thoughts on how I could generate the package cache outside of the build sandbox? I saw that you're using NixOS :)

[2021-01-25 16:57] Ocramius commented on #166
@wmertens `ocramius/package-versions:^2` removed the `file_put_contents()` behavior overall, as it was indeed a known problem: see https://github.com/Ocramius/PackageVersions/issues/106

I warmly endorse an upgrade, which should lift the problem overall.

[2021-01-25 16:57] #166 closed, assigned to Ocramius

[2021-01-25 17:21] wmertens commented on #166
Thank you for your swift response!

I'm a total php noob though, is there a way to force v2 use when it's not even in composer.json

[2021-01-25 17:27] Ocramius commented on #166
I would endorse adding a `"conflict": {"ocramius/package-versions": "<2"}` there, then run a `composer update --dry-run` to see what it will change, and if there's any dependency still requiring the old version.

[2021-01-25 18:01] wmertens commented on #166
I see that the latest version of doctrine/migrations still uses v1.8 :-(

https://github.com/doctrine/migrations/blob/5415b4102e25c8ad00015ed0aa816cfe4b2c2827/composer.json#L28

[2021-01-25 18:14] Ocramius commented on #166
@wmertens before reporting an issue there only, do a `composer why-not ocramius/package-versions:2` to get a full report of everything that is not compatible.

Since PackageVersions almost didn't change over the years, I suggest sending an upstream patch to `doctrine/migrations` to be `"require": {"ocramius/package-versions": "^1.8 || ^2"}`.

[2021-01-25 18:14] Ocramius commented on #166
Also not sure why they would require `composer/package-versions-deprecated` :shrug:

[2021-02-16 10:07] tehplague opened #167 "Version 2.1 is incompatible with PHP 7.4 in Ubuntu 20.04 LTS"
Due to the version constraint set to `^7.4.7`, this package's 2.1.x release (last one that is designated for PHP 7.4) is current incompatible with PHP 7.4 as shipped with Ubuntu 20.04 (most recent LTS version). Is there any reason why the dependency was set to a specific PHP patch release, e.g. a known bug in 7.4.0-7.4.6? Or would you be able to relieve the dependency to `^7.4` ?

Installing 3rd-p

[2021-02-16 10:16] Ocramius commented on #167
Heyo, this is correct, since 7.4.6 is botched (broken `yield from`), and 7.4.1 broke compat on typed properties.

Therefore, it is indeed intentional to move to `^7.4.7` for the sake of stability.

That's something you need to bring up with whoever manages your production environment: in this year and time, running the distro PHP release is anachronistic, given that you can containerize it, run ni

[2021-02-16 10:16] #167 closed, assigned to Ocramius

[2021-03-09 06:13] CoKhanh commented on #100
@Ocramius I am using PHP 7.4.9 and composer 2.0.11 but i still get the same error?

[2021-12-29 15:45] Rituparna007 opened #194 "Updating to composer 2.2.1 replaced ocaramius package-version to 1.11.99 which causes this : Fatal error: Class PackageVersions\Installer contains 2 abstract methods and must therefore be declared abstract or implement the remaining methods (Composer\Plugin\PluginInterface::deactivate, Composer\Plugin\PluginInterface::uninstall)"
Hello

I have upgraded composer version to 2.2.1 and PHP version is 7.3.29. After upgrading I am getting this error

 Installing ocramius/package-versions (1.5.1): Extracting archive
For additional security you should declare the allow-plugins config with a list of packages names that are allowed to run code. See https://getcomposer.org/allow-plugins
You have until July 2022 to add the setting. Co

[2021-12-29 15:48] Ocramius commented on #194
`composer/package-version-deprecated` is not this library: it is a fork that has gone completely sideways (and frankly wastes so much energy and time).

Please report issues at https://github.com/composer/package-versions-deprecated

[2021-12-29 15:48] #194 closed, assigned to Ocramius

[2022-08-26 07:40] someniatko opened #220 "Support Composer bin plugin"
[Composer bin plugin](https://github.com/bamarni/composer-bin-plugin) seems to not be supported.

This prevents, for instance, running [roave/infection-static-analysis-plugin](https://github.com/Roave/infection-static-analysis-plugin) when it's installed in a separate "bin" alongside with infection and psalm.

[code]

[2022-08-26 07:59] Ocramius commented on #220
This library only relies on composer's internal mechanism being available: if that doesn't work for "bin plugins" (honestly, just have a clean `composer.json`+`composer.lock` in a different directory instead), you should report it in the bin plugin or in composer itself.

This library no longer messes with the plugin system of composer (and glad it doesn't).

[2022-08-26 07:59] #220 closed, assigned to Ocramius

[2022-08-26 08:06] someniatko commented on #220
That's essentially what the bin plugin does.

This library lets the check pass if the CWD is set to that different directory (with the `composer.json` containing psalm, infection and the infection plugin hack), however it doesn't if CWD is in the main project directory, with the main `composer.json` not containing those tools.

[2022-08-26 08:13] Ocramius commented on #220
I really suggest bringing it up there then: there's really not much code left here

[2022-09-25 11:55] Dndptvvxcn opened #226 "spam - edited"

[2022-09-25 11:59] #226 closed

[2022-10-31 12:28] renovate[bot] opened #241 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/Ocramius/PackageVersions).

## Awaiting Schedule

The following updates are awaiting their schedule. To get an update now, click on a checkbox below